/* -------------------------------------------------*/
/* T3 ADMIN STYLE
/* JoomlArt.com
---------------------------------------------------*/


/* Menu Assignment
---------------------------------------------------*/
.t3-assignment .thumbnail {
  padding: 10px;
}

.t3-assignment h5 {
  margin: 0 0 5px;
  color: #333;
}


/* Responsive
---------------------------------------------------*/
@media (max-width: 767px) {
  .t3-adminform {
    margin-left: -20px;
    margin-right: -20px;
  }

}