.t3-megamenu {
  .mega-align-center > .dropdown-menu {
    transform: translate(50%);
    -webkit-transform: translate(50%);
    -moz-transform: translate(50%);
    -ms-transform: translate(50%);
    -o-transform: translate(50%);
  }
}