#off-canvas-nav {
  display: none;
}
@media (max-width: 767px) {
  .off-canvas {
    width: 100%;
    overflow-x: hidden;
    position: relative;
  }
  .off-canvas body {
    width: 100%;
    overflow-x: hidden;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .off-canvas body > * {
    right: 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .off-canvas #t3-mainnav .nav-collapse,
  .off-canvas #ja-mainnav .nav-collapse {
    display: none;
  }
  .off-canvas #off-canvas-nav {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    z-index: 1;
    background: none;
  }
  .off-canvas #off-canvas-nav .t3-mainnav {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .off-canvas #off-canvas-nav .t3-mainnav .nav-collapse {
    height: auto;
    background: none;
  }
  .off-canvas-enabled body > * {
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px);
    -o-transform: translateX(250px);
    transform: translateX(250px);
  }
  .off-canvas-enabled #t3-mainnav {
    display: block;
  }
}
@media (max-width: 767px) {
  .off-canvas .t3-mainnav .nav-collapse {
    margin-top: 0;
  }
}


@media (max-width: 767px) {
  .off-canvas body > * {
    left: 0;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
  .off-canvas #off-canvas-nav .t3-mainnav {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  .off-canvas-enabled body > * {
    -webkit-transform: translateX(-250px);
    -moz-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    transform: translateX(-250px);
  }
}