fieldset.t3onoff {
  width: 90px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: 0 !important;
  position: relative;
  border: 1px solid #aaa;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  
  
  
  
}
fieldset.t3onoff input[type=radio] {
  display: none;
}
fieldset.t3onoff label {
  width: 90px;
  height: 30px;
  overflow: hidden;
  display: block;
  border-radius: 0;
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 1;
  text-transform: uppercase;
  background: url(../../../../../plugins/system/t3/base/imgs/blank.gif) no-repeat transparent;
  text-indent: -999em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
fieldset.t3onoff label:before,
fieldset.t3onoff label:after {
  display: block;
  position: absolute;
  top: 0;
  border-radius: 0;
  border: 1px solid #aaa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
fieldset.t3onoff label:before {
  content: "ON";
  width: 100%;
  height: 100%;
  text-indent: 0;
  color: white;
  padding: 4px 18px;
  font-weight: normal;
}
fieldset.t3onoff label:after {
  content: "";
  width: 40%;
  height: 100%;
  background: #fff;
}
fieldset.t3onoff label.off:before {
  content: "OFF";
  text-align: right;
  color: #555;
}
fieldset.t3onoff label.active {
  z-index: 0;
}
fieldset.t3onoff label.off:before {
  background: #eee;
  left: 100%;
}
fieldset.t3onoff label.off.active:before {
  left: 0%;
}
fieldset.t3onoff label.on:before {
  background: #690;
  left: -100%;
}
fieldset.t3onoff label.on.active:before {
  left: 0%;
}
fieldset.t3onoff label.off:after {
  left: 60%;
}
fieldset.t3onoff label.off.active:after {
  left: 0%;
}
fieldset.t3onoff label.on:after {
  left: 0%;
}
fieldset.t3onoff label.on.active:after {
  left: 60%;
}
fieldset.radio.btn-group {
  padding: 0;
}
fieldset.radio.btn-group input {
  display: none;
}
fieldset.radio.btn-group label {
  display: inline-block;
  min-width: 54px;
  padding: 0 12px;
  border: 1px solid #aaa;
  line-height: 28px;
  background: #eee;
  color: #555;
  border-radius: 0;
  text-align: center;
  border-right-width: 0px;
  text-transform: uppercase;
}
fieldset.radio.btn-group label:last-child {
  border-right-width: 1px;
  border-radius: 0 4px 4px 0;
}
fieldset.radio.btn-group label.active {
  background: #690;
  border-color: #5c8b00;
  color: #fff;
}
#adminForm .clearfix {
  overflow: visible;
}
#adminForm .chzn-container .chzn-results {
  clear: both;
}
.com_config #modules-form .input-append .add-on,
.com_config #modules-form .input-prepend .add-on {
  width: 35px;
}
.com_config #modules-form .input-append input,
.com_config #modules-form .input-prepend input {
  display: inline-block;
}
.com_config #modules-form .input-append .btn,
.com_config #modules-form .input-prepend .btn {
  border: 1px solid #aaa;
}
.com_config #modules-form .accordion-group {
  margin-bottom: 20px;
}
.com_config #modules-form .accordion-group .accordion-heading .accordion-toggle {
  color: #428bca;
  display: block;
  padding: 10px;
  outline: none;
}
.com_config #modules-form .accordion-group .accordion-heading .accordion-toggle.collapsed {
  border-radius: 5px;
  color: #666;
}
.com_config #modules-form .accordion-group .accordion-body .nav-tabs {
  border-bottom: 0;
}
.controls select {
  vertical-align: middle;
  width: 220px;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome !important;
}
.view-history .btn-group {
  margin-bottom: 10px;
}
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  margin-right: 5px;
}
.btn span.icon-delete:before {
  content: "\f057";
  display: inline-block;
  height: 16px;
  width: 16px;
  color: #333;
}
.window.view-modules .well .control-label {
  display: inline-block;
}
.window.view-modules .well .controls {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.window.view-modules .control-group:after {
  content: "";
  clear: both;
  display: table;
}
.window.view-modules #filter-bar {
  margin-bottom: 10px;
}
.window.view-modules #filter-bar .btn-group button {
  margin-top: 0;
}
.view-modules .js-stools,
.view-articles .js-stools,
.view-contacts .js-stools {
  margin-bottom: 20px;
}
.view-modules .js-stools .btn,
.view-articles .js-stools .btn,
.view-contacts .js-stools .btn {
  border: 1px solid #ccc;
  margin-top: 0;
}
.view-modules .js-stools .input-append .btn,
.view-articles .js-stools .input-append .btn,
.view-contacts .js-stools .input-append .btn {
  border-left: 0;
}
.view-modules .js-stools input,
.view-articles .js-stools input,
.view-contacts .js-stools input {
  display: inline-block;
}
.view-modules .js-stools-container-filters .chzn-container-single,
.view-articles .js-stools-container-filters .chzn-container-single,
.view-contacts .js-stools-container-filters .chzn-container-single {
  width: 220px !important;
}
.view-modules .js-stools-container-filters .chzn-drop,
.view-articles .js-stools-container-filters .chzn-drop,
.view-contacts .js-stools-container-filters .chzn-drop {
  box-sizing: border-box !important;
}
.view-modules table#moduleList td .label,
.view-articles table#moduleList td .label,
.view-contacts table#moduleList td .label {
  background-color: #999;
  box-sizing: border-box;
  border-radius: 3px;
  display: inline-block;
  font-weight: normal;
  font-size: 100%;
  padding: 10px;
  width: 100%;
}
.view-modules table#moduleList td:nth-child(1),
.view-articles table#moduleList td:nth-child(1),
.view-contacts table#moduleList td:nth-child(1) {
  vertical-align: middle;
}
.view-modules .icon-publish:before,
.view-articles .icon-publish:before,
.view-contacts .icon-publish:before {
  content: "\f00c";
  font-size: 16px;
}
.view-modules #extra_class.span12,
.view-articles #extra_class.span12,
.view-contacts #extra_class.span12 {
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  width: 100%;
}
.mce-container-body .icon-file-add:before {
  content: "\f067";
}
.mce-container-body .icon-pictures:before {
  content: "\f03e";
}