.home .t3-sl-1 {
  padding: 0;
}
.home .t3-sl-1 .jumbotron {
  background-color: #eee;
  background-image: -webkit-gradient(radial,center center,0,center center,460,from(#fff),to(#eee));
  background-image: -webkit-radial-gradient(circle,#fff,#eee);
  background-image: -moz-radial-gradient(circle,#fff,#eee);
  background-image: -o-radial-gradient(circle,#fff,#eee);
  background-repeat: no-repeat;
  border-bottom: 1px solid #444;
}
.home .t3-sl-1 .jumbotron .btn-large {
  font-size: 24.5px;
  padding: 18px 44.5px;
}
.home .t3-sl-1 .t3-social {
  background: #eee;
  padding: 20px 0;
}
.home .t3-sl-1 .t3-social .t3-social-btns {
  margin: 0;
  height: 20px;
  text-align: center;
}
.home .t3-sl-1 .t3-social .t3-social-btns li {
  display: inline-block;
  margin: 0 10px;
  height: 20px;
}
.home .t3-sl-1 {
  color: #eee;
}
.home .t3-sl-1 .jumbotron {
  background-color: #222;
  background-image: -webkit-gradient(radial,center center,0,center center,460,from(#222),to(#222));
  background-image: -webkit-radial-gradient(circle,#222,#222);
  background-image: -moz-radial-gradient(circle,#222,#222);
  background-image: -o-radial-gradient(circle,#222,#222);
  background-repeat: no-repeat;
}
.home .t3-sl-1 .jumbotron h1 {
  color: #fff;
}
.home .t3-sl-2 {
  text-align: center;
}
.home .t3-sl-2 p {
  font-size: 16px;
  line-height: 22px;
}
.home .t3-sl-3 p img {
  margin-bottom: 20px;
}
.home .t3-sl-3,
.home .t3-sl-4 {
  border-top: 1px solid #444;
  text-align: center;
}
.home .t3-sl-3 p,
.home .t3-sl-4 p {
  font-size: 16px;
  line-height: 22px;
}
.home .t3-sl-3 .jumbotron,
.home .t3-sl-4 .jumbotron {
  padding-top: 0;
}
.home .t3-sl-3 .jumbotron h1,
.home .t3-sl-4 .jumbotron h1 {
  margin-bottom: 10px;
  margin-top: 0;
}
.home .t3-sl-3 .jumbotron p,
.home .t3-sl-4 .jumbotron p {
  font-size: 21px;
  line-height: 1.275;
  color: #999;
}
.home .t3-sl-5 {
  background: #eee;
  border-top: 1px solid #444;
  padding: 0;
}
.home .t3-sl-5 .jumbotron .btn-large {
  font-size: 24.5px;
  padding: 18px 44.5px;
}
.home .t3-sl-5 .section-arrow-alt {
  background: url(../../../images/arrow-section-alt.png) no-repeat center -1px #eee;
  width: 37px;
  height: 19px;
  position: absolute;
  top: -1px;
  left: 50%;
  margin-left: -19px;
}
.home .t3-sl-5 {
  background: #222;
  border-bottom: 1px solid #444;
  color: #eee;
}
.home .t3-sl-5 .section-arrow-alt {
  display: none;
}
.modal-t3-signup {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.modal-t3-signup .modal-header {
  border-bottom: none;
  padding: 0 40px;
}
.modal-t3-signup .modal-header h3 {
  display: none;
}
.modal-t3-signup .modal-header .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #eee;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.modal-t3-signup .modal-body {
  padding: 20px 40px 40px;
}
.modal-t3-signup .modal-body p,
.modal-t3-signup .modal-body input,
.modal-t3-signup .modal-body .add-on,
.modal-t3-signup .modal-body button {
  font-size: 16px;
}
.modal-t3-signup .modal-body p {
  line-height: 24px;
}
.modal-t3-signup .form-t3-signup {
  margin-top: 40px;
}
.modal-t3-signup .modal-body input {
  padding: 9px 25px 8px 15px;
}
.modal-t3-signup .modal-body .add-on {
  padding: 9px 9px 8px;
}
.modal-t3-signup .btn-large {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.15);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.15);
}
