

.masthead {
  padding: 80px 0 60px;
  text-align: center;
}
.masthead h1 {
  font-size: 98px;
}
.masthead p {
  font-size: 42px;
}
.masthead .btn-large {
  font-size: 28px;
  padding: 14px 28px;
}
.masthead.has-image {
  text-align: left;
}
.thumbnails {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
}
.thumbnails:before,
.thumbnails:after {
  
  content: " ";
  
  display: table;
}
.thumbnails:after {
  clear: both;
}
.row-fluid .thumbnails {
  margin-left: 0;
}
.thumbnails > li {
  float: left;
  position: relative;
  margin-bottom: 20px;
}
.thumbnail {
  border: 1px solid #ddd;
  display: block;
  padding: 4px;
  line-height: 20px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
  box-shadow: 0 1px 3px rgba(0,0,0,0.055);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
a.thumbnail:hover {
  border-color: #07b;
  -webkit-box-shadow: 0 1px 4px rgba(0,105,214,0.25);
  box-shadow: 0 1px 4px rgba(0,105,214,0.25);
}
.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.thumbnail .caption {
  padding: 9px;
  color: #555555;
}
.thumbnails.paper > li:before,
.thumbnails.paper > li:after {
  content: '';
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  box-shadow: 0 15px 10px rgba(0,0,0,0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.thumbnails.paper > li:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
.thumbnails.paper .thumbnail {
  border: none;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.thumbnails.paper a.thumbnail.paper:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.t3-logo,
.t3-logo-small {
  display: block;
  text-decoration: none;
  text-indent: -9999em;
  text-align: left;
  background-repeat: no-repeat;
  background-position: center;
}
.t3-logo {
  width: 182px;
  height: 50px;
}
.t3-logo-small {
  width: 60px;
  height: 30px;
}
.t3-logo,
.t3-logo-color {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-big-color.png");
}
.t3-logo-small,
.t3-logo-small.t3-logo-color {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-small-color.png");
}
.t3-logo-dark {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-big-dark.png");
}
.t3-logo-small.t3-logo-dark {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-small-dark.png");
}
.t3-logo-light {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-big-light.png");
}
.t3-logo-small.t3-logo-light {
  background-image: url("http://joomlart.s3.amazonaws.com/images/jat3v3-documents/logo-complete/t3logo-small-light.png");
}

.wrap {
  width: auto;
  clear: both;
}

body {
  background-color: #fff;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
a {
  color: #07b;
  text-decoration: none;
}
a:hover {
  color: #00466f;
  text-decoration: underline;
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.row-even,
.row-odd {
  padding: 5px;
  width: 99%;
  border-bottom: 1px solid #ddd;
}
.row-odd {
  background-color: transparent;
}
.row-even {
  background-color: #f9f9f9;
}
.blog-row-rule,
.blog-item-rule {
  border: 0;
}
.row .row-reveal {
  visibility: hidden;
}
.row:hover .row-reveal {
  visibility: visible;
}
.nav-list > li.offset > a {
  padding-left: 30px;
  font-size: 12px;
}
.blog-row-rule,
.blog-item-rule {
  border: 0;
}
.list-striped,
.row-striped {
  list-style: none;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid #ddd;
  margin-left: 0;
}
.list-striped li,
.list-striped dd,
.row-striped .row,
.row-striped .row-fluid {
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
}
.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd) {
  background-color: #f9f9f9;
}
.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover {
  background-color: #f5f5f5;
}
.row-striped .row {
  width: 97%;
}
.row-striped .row [class*="span"] {
  min-height: 10px;
  margin-left: 8px;
}
.row-striped .row [class*="span"]:first-child {
  margin-left: 0;
}
.list-condensed li {
  padding: 5px 10px;
}
.row-condensed .row {
  padding: 5px 10px;
}
.list-bordered,
.row-bordered {
  list-style: none;
  line-height: 18px;
  text-align: left;
  vertical-align: middle;
  margin-left: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.star {
  color: #fc0;
}
.red {
  color: #c00;
}
.center,
.table td.center,
.table th.center {
  text-align: center;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #fff;
}
hr.hr-condensed {
  margin: 10px 0;
}
.element-invisible {
  position: absolute;
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.width-auto {
  width: auto;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-transition: border linear .2s, box-shadow linear .2s, width 0.7s ease 0s;
  transition: border linear .2s, box-shadow linear .2s, width 0.7s ease 0s;
}
.input-append .add-on,
.input-prepend .add-on {
  height: auto;
}

.t3-mainnav {
  background-image: -webkit-gradient(linear,left 0%,left 100%,from(#ffffff),to(#f8f8f8));
  background-image: -webkit-linear-gradient(top,#ffffff,0%,#f8f8f8,100%);
  background-image: -moz-linear-gradient(top,#ffffff 0%,#f8f8f8 100%);
  background-image: linear-gradient(to bottom,#ffffff 0%,#f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #dfdfdf;
}
.t3-mainnav .navbar {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.t3-mainnav .navbar .nav > li > a,
.t3-mainnav .navbar .nav > li > .separator {
  position: relative;
  display: block;
  padding: 10px 15px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .t3-mainnav .navbar .nav > li > a,
  .t3-mainnav .navbar .nav > li > .separator {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.t3-mainnav .dropdown .caret {
  margin-left: 5px;
}
.t3-mainnav .navbar .nav > li > .dropdown-menu:before {
  display: none;
}
.t3-mainnav .navbar .nav > li > .dropdown-menu:after {
  display: none;
}
.t3-mainnav .dropdown-menu .disabled > a,
.t3-mainnav .dropdown-menu .disabled > a:hover {
  color: #999999;
}
.t3-mainnav .dropdown-menu .disabled > a:hover {
  background-color: transparent;
}
.t3-mainnav .nav li.dropdown.open > .dropdown-toggle {
  background-color: #428bca;
  color: #fff;
}
.t3-mainnav .nav li.dropdown.active > .dropdown-toggle,
.t3-mainnav .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #428bca;
  color: #fff;
}
.t3-mainnav .dropdown-submenu {
  position: relative;
}
.t3-mainnav .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -11px;
  margin-left: -1px;
}
.t3-mainnav .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
@media (max-width: 768px) {
  .always-show .mega > .mega-dropdown-menu,
  .always-show .dropdown-menu {
    display: block !important;
    position: static;
  }
  .navbar-collapse-fixed-top,
  .navbar-collapse-fixed-bottom {
    border-top: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .navbar-collapse-fixed-top .navbar-collapse,
  .navbar-collapse-fixed-bottom .navbar-collapse {
    position: absolute;
    width: 100%;
    left: 0;
    top: 51px;
    margin: 0;
  }
  .navbar-collapse-fixed-top .navbar-collapse.in,
  .navbar-collapse-fixed-bottom .navbar-collapse.in {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .navbar-collapse-fixed-top .navbar-collapse.in > *,
  .navbar-collapse-fixed-bottom .navbar-collapse.in > * {
    -webkit-transform: translateZ(0);
  }
  .navbar-collapse-fixed-top .navbar-collapse.animate,
  .navbar-collapse-fixed-bottom .navbar-collapse.animate {
    overflow: hidden;
  }
  .navbar-collapse-fixed-bottom {
    bottom: 0;
    top: auto;
  }
  .navbar-collapse-fixed-bottom .navbar-collapse {
    bottom: 51px;
    top: auto;
  }
  .navbar-collapse-fixed-bottom .navbar-toggle {
    position: absolute;
    bottom: 0;
  }
}
@media (max-width: 768px) {
  .t3-mainnav {
    background: #f8f8f8;
    border-top: 1px solid #ebebeb;
    height: auto;
  }
  .t3-mainnav .navbar-collapse {
    margin-top: 10px;
    background: #fff;
    max-height: none;
  }
  .t3-mainnav .navbar-collapse .nav {
    margin: 0;
  }
  .t3-mainnav .navbar-collapse .nav > li:before,
  .t3-mainnav .navbar-collapse .nav > li:after {
    
    content: " ";
    
    display: table;
  }
  .t3-mainnav .navbar-collapse .nav > li:after {
    clear: both;
  }
  .t3-mainnav .navbar-collapse .nav > li > a {
    margin-bottom: 0;
  }
  .t3-mainnav .navbar-collapse .nav > li > a,
  .t3-mainnav .navbar-collapse .dropdown-menu a {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 20px;
    font-weight: bold;
    text-shadow: none;
    border-radius: 0;
  }
  .t3-mainnav .navbar-collapse .dropdown-menu li + li a {
    margin-bottom: 0;
  }
  .t3-mainnav .navbar-collapse .nav > li > a:hover {
    background-color: #428bca;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  .t3-mainnav .navbar-collapse .dropdown-menu {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .t3-mainnav .navbar-collapse .dropdown-menu a {
    border-top: 1px solid #ebebeb;
    border-bottom: 0;
    font-weight: normal;
    padding: 10px 20px;
  }
  .t3-mainnav .navbar-collapse .dropdown-menu a:hover {
    background-color: #428bca;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  .t3-mainnav.navbar-collapse-fixed-top,
  .t3-mainnav.navbar-collapse-fixed-bottom {
    margin: 0;
  }
  .t3-mainnav.navbar-collapse-fixed-top .navbar-collapse,
  .t3-mainnav.navbar-collapse-fixed-bottom .navbar-collapse {
    margin: 0;
  }
  .t3-mainnav .navbar .nav > li > .dropdown-menu:before,
  .t3-mainnav .navbar .nav > li > .dropdown-menu:after,
  .t3-mainnav .navbar .nav > li > .dropdown-menu .divider {
    display: none;
  }
}
.pagination {
  display: block;
  margin: 20px 0;
}
.pagination .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0;
  border-radius: 4px;
}

.t3-module {
  background: transparent;
  color: inherit;
  margin-bottom: 40px;
}
.t3-module .module-inner {
  padding: 0;
}
.module-title {
  background: transparent;
  color: inherit;
  line-height: 30px;
  margin: 0 0 10px 0;
  padding: 0;
}
.module-ct {
  background: transparent;
  color: inherit;
  padding: 0;
}
.module-ct:before,
.module-ct:after {
  
  content: " ";
  
  display: table;
}
.module-ct:after {
  clear: both;
}
.t3-module ul,
.t3-module ol {
  margin-left: 20px;
}
.t3-module ul.unstyled,
.t3-module ol.unstyled,
.t3-module ul.nav,
.t3-module ol.nav {
  margin-left: 0;
}
.module_menu .nav {
  margin-bottom: 20px;
}
.module_menu .nav > li {
  border-top: 1px solid #eeeeee;
}
.module_menu .nav > li > a,
.module_menu .nav > li > .separator {
  padding: 5px;
  display: block;
}
.module_menu .nav > li:first-child {
  border-top: 0;
}
.module_menu .nav > li:first-child > a {
  border-top: 0;
}
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 90%;
}
.banneritem a {
  font-weight: bold;
}
.bannerfooter {
  border-top: 1px solid #ddd;
  font-size: 12px;
  padding-top: 10px;
  text-align: right;
}
.categories-module,
ul.categories-module,
.category-module,
ul.category-module {
  margin: 0;
}
.categories-module li,
ul.categories-module li,
.category-module li,
ul.category-module li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}
.categories-module li:first-child,
ul.categories-module li:first-child,
.category-module li:first-child,
ul.category-module li:first-child {
  border-top: 0;
  padding-top: 0;
}
.categories-module h4,
ul.categories-module h4,
.category-module h4,
ul.category-module h4 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.feed h4 {
  font-weight: bold;
}
.feed .newsfeed,
.feed ul.newsfeed {
  border-top: 1px solid #eeeeee;
}
.feed .newsfeed .feed-link,
.feed .newsfeed h5.feed-link,
.feed ul.newsfeed .feed-link,
.feed ul.newsfeed h5.feed-link {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.latestusers,
ul.latestusers {
  margin-left: 0;
}
.latestusers li,
ul.latestusers li {
  background: #eeeeee;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
}
.stats-module dt,
.stats-module dd {
  display: inline-block;
  margin: 0;
}
.stats-module dt {
  font-weight: bold;
  width: 35%;
}
.stats-module dd {
  width: 60%;
}
div.tagspopular ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
div.tagspopular ul li {
  color: #555555;
  display: inline-block;
  margin: 0 5px 5px 0;
}
div.tagspopular ul li a {
  background: #eeeeee;
  border-radius: 3px;
  color: #555555;
  display: block;
  padding: 2px 5px;
}
div.tagspopular ul li a:hover,
div.tagspopular ul li a:focus,
div.tagspopular ul li a:active {
  background: #00466f;
  color: #fff;
  text-decoration: none;
}
div.tagssimilar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
div.tagssimilar ul li {
  border-bottom: 1px solid #eeeeee;
  padding: 8px 0;
}
div.tagssimilar ul li a {
  color: #555555;
}
div.tagssimilar ul li a:hover,
div.tagssimilar ul li a:focus,
div.tagssimilar ul li a:active {
  color: #00466f;
}

.items-leading .leading {
  margin-bottom: 40px;
}
.items-row .item {
  margin-bottom: 40px;
}
.divider-vertical {
  margin: 0 0 40px;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #fff;
}
.article-aside {
  color: #999999;
  font-size: 13px;
  margin-bottom: 20px;
}
.article-info {
  margin: 0;
  width: 90%;
}
.article-info .article-info-term {
  display: none;
}
.article-info dd {
  float: left;
  margin-left: 0;
  margin-right: 10px;
  white-space: nowrap;
}
.article-info dd span {
  font-weight: bold;
}
.article-footer {
  color: #999999;
  font-size: 13px;
  margin-bottom: 20px;
}
article img[align=left],
.img_caption.left,
.pull-left.item-image {
  margin: 0 30px 20px 0;
}
article img[align=right],
.img_caption.right,
.pull-right.item-image {
  margin: 0 0 20px 30px;
}
.img-intro-none,
.img-intro-left,
.img-intro-right,
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right,
.img_caption {
  position: relative;
}
.img-intro-none,
.img-intro-left,
.img-intro-right,
.img-fulltext-none,
.img-fulltext-left,
.img-fulltext-right,
.img_caption {
  margin-bottom: 20px;
  max-width: 100%;
}
.img-fulltext-left {
  float: left;
  margin-right: 30px;
}
.img-fulltext-right {
  float: right;
  margin-left: 30px;
}
.img-intro-none img,
.img-intro-left img,
.img-intro-right img,
.img-fulltext-none img,
.img-fulltext-left img,
.img-fulltext-right img {
  margin: 0;
}
.img_caption img {
  margin-bottom: 1px !important;
}
.img_caption p.img_caption {
  background: #eeeeee;
  color: #555555;
  font-size: 12px;
  width: 100%;
  margin: 0;
  padding: 5px;
  text-align: center;
  clear: both;
}
article aside .btn-group > .dropdown-toggle,
article aside .btn-group > .dropdown-toggle:hover,
article aside .btn-group > .dropdown-toggle:active,
article aside .btn-group > .dropdown-toggle:focus {
  background: transparent;
  border: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.login_form fieldset,
.login fieldset {
  padding: 15px 0 0;
}
.login_form fieldset p,
.login fieldset p {
  margin: 0 0 5px;
}
.login_form label,
.login label {
  display: block;
  font-weight: bold;
}
.login-fields {
  margin: 0 0 10px;
}
.login_form .input,
.login_form .inputbox,
.login-fields .required {
  margin-left: 10px;
  width: 150px;
}
.login_form .remember .input,
.login_form .remember .inputbox {
  width: 20px;
}
.form-register fieldset {
  padding: 0 0 10px;
}
.form-register p {
  margin: 0 0 5px;
}
.form-register p.form-des {
  margin: 15px 0;
}
.form-register label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}
.form-register .input,
.form-register .inputbox {
  margin-left: 10px;
  width: 200px;
}
.form-register .btn,
.form-register .button {
  margin-left: 140px;
}
.registration fieldset dt {
  margin-right: 5px;
}
.admintable textarea {
  max-width: 90% !important;
  resize: none;
}
.com_mailto body {
  padding: 10px;
}
.com_mailto .t3-mainbody {
  padding-top: 0;
  padding-bottom: 0;
}
.com_mailto .t3-content {
  width: auto;
}
#mailto-window {
  background: #fff;
  margin: 10px 0 20px;
  padding: 0;
  position: relative;
}
#mailto-window h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
#mailtoForm .formelm {
  padding: 5px 0;
  vertical-align: middle;
  overflow: hidden;
}
#mailtoForm .formelm label {
  display: inline-block;
  float: left;
  font-weight: bold;
  vertical-align: middle;
  width: 100px;
}
#mailtoForm p {
  margin-top: 20px;
}
#mailtoForm .input,
#mailtoForm .inputbox {
  width: 65%;
}
#mailtoForm .btn,
#mailtoForm .button,
#mailtoForm button {
  margin-right: 5px;
}
.user-details {
  padding: 10px 0;
}
.user-details p {
  margin: 0 0 5px;
}
.user-details label {
  display: block;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 130px;
}
.user-details .input,
.user-details .inputbox {
  margin-left: 10px;
  width: 200px;
}
.user-details .btn,
.user-details button {
  margin-left: 140px;
}
.user-details .paramlist .paramlist_key {
  padding: 0 0 5px;
  width: 130px;
}
.user-details .paramlist .paramlist_value {
  padding: 0 0 5px;
}
.user-details .user_name span {
  font-weight: bold;
  padding-left: 10px;
}
.reset .form-validate p,
.remind .form-validate p {
  background: #eeeeee;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 4px;
}
.reset .form-validate fieldset dl,
.remind .form-validate fieldset dl {
  margin: 0;
}
.reset .form-validate fieldset dt,
.remind .form-validate fieldset dt {
  margin: 4px 0 0 0;
}
#searchForm {
  padding: 10px 20px;
  border: 1px solid #ddd;
  background: #eeeeee;
  border-radius: 4px;
}
#searchForm:before,
#searchForm:after {
  
  content: " ";
  
  display: table;
}
#searchForm:after {
  clear: both;
}
#searchForm fieldset {
  margin: 20px 0;
}
#searchForm legend {
  margin-bottom: 10px;
}
.phrases-box input,
.phrases-box label,
.form-limit input,
.form-limit label,
.only label {
  display: inline-block;
  margin-right: 10px;
}
.phrases-box input {
  margin: 0;
}
.search-results {
  margin-top: 20px;
}
.search-results .result-title {
  font-size: 16px;
  margin-top: 20px;
}
.search-results .result-category {
  font-size: 12px;
  color: #999999;
}
.search-results .result-text {
  margin-top: 5px;
  margin-bottom: 5px;
}
.search-results .result-created {
  font-size: 12px;
  color: #999999;
}
.contact .accordion-heading .accordion-toggle {
  font-weight: bold;
}
#archive-items > li {
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
}
#archive-items div.intro {
  clear: both;
  overflow: hidden;
}
.category-item {
  margin-top: 20px;
}
.category-item:before,
.category-item:after {
  
  content: " ";
  
  display: table;
}
.category-item:after {
  clear: both;
}
.category-item .page-header {
  line-height: normal;
  padding-bottom: 5px;
  margin: 0 0 5px;
}
.category-item .category-item {
  margin-left: 30px;
}
.newsfeed-category > h2,
.newsfeed > h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}
.newsfeed-category .category-desc,
.newsfeed .category-desc {
  margin-bottom: 20px;
}
.newsfeed-category .category li:before,
.newsfeed-category .category li:after,
.newsfeed .category li:before,
.newsfeed .category li:after {
  
  content: " ";
  
  display: table;
}
.newsfeed-category .category li:after,
.newsfeed .category li:after {
  clear: both;
}
.newsfeed > h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}
.newsfeed .feed-description {
  margin-bottom: 20px;
  font-size: 16px;
}
.newsfeed .feed-item-description .feed-description {
  font-size: 14px;
}
.newsfeed ol li > a {
  font-weight: bold;
  font-size: 16px;
}
.edit textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.button2-left,
.button2-left div {
  float: left;
}
.button2-right,
.button2-right div {
  float: right;
}
.button2-left {
  margin: 5px 5px 0 0;
}
.button2-right {
  margin: 5px 0 0 5px;
}
.button2-left a,
.button2-right a,
.button2-left span,
.button2-right span {
  background: #eeeeee;
  border: 1px solid #e2e2e2;
  color: #999999;
  cursor: pointer;
  display: block;
  float: left;
  padding: 2px 10px;
  border-radius: 4px;
}
.button2-left span,
.button2-right span {
  color: #999999;
  cursor: default;
}
.button2-left .page a,
.button2-right .page a,
.button2-left .page span,
.button2-right .page span {
  padding: 0 6px;
}
.button2-left a:hover,
.button2-right a:hover {
  background: #e2e2e2;
  color: #333333;
  text-decoration: none;
}
.edit.item-page .control-group a.modal {
  position: inherit;
  width: auto !important;
  margin-left: 0 !important;
  top: auto !important;
}
.controls img.calendar {
  cursor: pointer;
  margin-left: 5px;
}
.article-content .pagination ul {
  border-left: 1px solid #ddd;
}
.article-content .pagination li {
  float: left;
  padding: 10px 20px;
  line-height: normal;
  border: 1px solid #ddd;
  border-left: 0;
}
.article-content .pagination li a {
  border: 0;
  text-decoration: none;
  background-color: transparent;
  line-height: normal;
  padding: 0;
}
.pagenavcounter {
  margin: 0 0 20px;
  font-weight: bold;
}
#article-index {
  float: right;
  margin: 0 0 20px 20px;
  padding: 10px;
  width: 30%;
  border: 1px solid #ddd;
  border-radius: 4px;
}
#article-index ul {
  margin: 0 0 0 20px;
}
.pagenav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagenav li {
  margin: 0;
  padding: 0;
  float: left;
}
.pagenav li.pagenav-prev {
  margin-right: 10px;
}
.pagenav li a {
  padding: 10px 20px;
  line-height: normal;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.pagenav li a:hover,
.pagenav li a:active,
.pagenav li a:focus {
  background-color: transparent;
  color: #333;
}
.counter {
  float: right;
  line-height: 1;
  margin: 10px 0;
  text-align: right;
}
.items-more h3 {
  margin: 0 0 5px;
}
.back_button a {
  display: block;
  margin: 10px 0;
}
.filters {
  margin: 10px 0 5px;
}
.display-limit {
  margin: 10px 0 5px;
}
.filters .filter-search {
  float: left;
}
.filters .display-limit {
  float: right;
  text-align: right;
}
#system-message dt {
  font-weight: bold;
}
#system-message dd {
  font-weight: bold;
}
#system-message dd.message ul,
#system-message dd.error ul,
#system-message dd.notice ul {
  margin: 0;
  padding: 0;
}
#system-message dd.message ul li,
#system-message dd.error ul li,
#system-message dd.notice ul li {
  background: none;
  margin: 0;
  padding: 5px;
}
.tip-wrap {
  background: #fff6df;
  border: 1px solid #fb3;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.4);
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  max-width: 300px;
  z-index: 999;
}
.tip-title {
  border-bottom: 1px solid #fb3;
  font-weight: bold;
  padding: 5px 10px;
}
.tip-text {
  font-size: 14px;
  margin: 0;
  padding: 5px 10px;
}
.hasTip img {
  border: none;
  margin: 0 5px 0 0;
}
.width-10 {
  width: 10px;
}
.width-20 {
  width: 20px;
}
.width-30 {
  width: 30px;
}
.width-40 {
  width: 40px;
}
.width-50 {
  width: 50px;
}
.width-60 {
  width: 60px;
}
.width-70 {
  width: 70px;
}
.width-80 {
  width: 80px;
}
.width-90 {
  width: 90px;
}
.width-100 {
  width: 100px;
}
.height-10 {
  height: 10px;
}
.height-20 {
  height: 20px;
}
.height-30 {
  height: 30px;
}
.height-40 {
  height: 40px;
}
.height-50 {
  height: 50px;
}
.height-60 {
  height: 60px;
}
.height-70 {
  height: 70px;
}
.height-80 {
  height: 80px;
}
.height-90 {
  height: 90px;
}
.height-100 {
  height: 100px;
}
.iframe-bordered {
  border: 1px solid #ddd;
}
.input-prepend .chzn-container-single .chzn-single {
  border-color: #ccc;
  height: 26px;
  border-radius: 0 3px 3px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-prepend .chzn-container-active .chzn-single-with-drop {
  border-radius: 0 3px 0 0;
}
.input-prepend .chzn-container-single .chzn-drop {
  border-color: #ccc;
}
.btn-group .chzn-results {
  white-space: normal;
}
.languageswitcherload {
  float: right;
  width: 100%;
}
.languageswitcherload .mod-languages {
  text-align: right;
}
@media (max-width: 767px) {
  article img[align=left],
  .img_caption.left,
  article img[align=right],
  .img_caption.right,
  .img-fulltext-left,
  .img-fulltext-right {
    float: none !important;
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
  }
}

.jumbotron {
  position: relative;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 20px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}

.t3-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo {
  float: left;
}
.logo a {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.logo-image {
  overflow: hidden;
}
.logo-image a {
  background-image: url("../../../images/logo.png");
  background-repeat: no-repeat;
  width: 204px;
  height: 65px;
}
.logo-image span,
.logo-image small {
  display: none;
}
.logo-text a {
  color: #333333;
  text-decoration: none;
  font-size: 18px;
}
.logo-text:hover a,
.logo-text a:hover,
.logo-text a:active,
.logo-text a:focus {
  text-decoration: none;
}
.logo-text .site-slogan {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}
.head-search {
  float: right;
  margin-top: 20px;
}
.head-search form {
  margin: 0;
  float: right;
}
.head-search label {
  display: none;
}
.head-search .input {
  background: url("../../../images/ico/search-invert.png") no-repeat 8px center;
  width: 120px;
  padding-left: 26px;
}
.head-search .input:focus {
  color: #333333;
  width: 180px;
}
.t3-sl {
  padding-bottom: 60px;
  padding-top: 60px;
}
.t3-mainbody {
  padding-bottom: 40px;
  padding-top: 40px;
}
.t3-footer {
  background: #222222;
  color: #555555;
}
.t3-footer:before,
.t3-footer:after {
  
  content: " ";
  
  display: table;
}
.t3-footer:after {
  clear: both;
}
.t3-footer small {
  display: block;
  font-size: 100%;
}
.t3-footer a {
  color: #999999;
}
.t3-footer a:hover,
.t3-footer a:active,
.t3-footer a:focus {
  color: #d5d5d5;
}
.t3-footnav {
  padding: 60px 0 40px;
}
.t3-footnav:before,
.t3-footnav:after {
  
  content: " ";
  
  display: table;
}
.t3-footnav:after {
  clear: both;
}
.t3-footnav ul {
  list-style: none;
  margin-left: 0;
}
.t3-footnav li {
  line-height: 24px;
}
.t3-footnav .module-title {
  font-size: 18px;
  color: #999999;
}
.t3-copyright {
  border-top: 1px solid #2f2f2f;
  font-size: 12px;
  padding: 40px 0 80px;
}
.t3-copyright:before,
.t3-copyright:after {
  
  content: " ";
  
  display: table;
}
.t3-copyright:after {
  clear: both;
}
.copyright {
  float: left;
}
.poweredby {
  float: right;
  text-align: right;
}
.poweredby .t3-logo,
.poweredby .t3-logo-small {
  float: right;
  opacity: .5;
}
@media (max-width: 768px) {
  body {
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .logo {
    float: left !important;
    text-align: center;
    width: 100% !important;
  }
  .head-search {
    float: left !important;
    margin-top: 20px;
    margin-left: 0 !important;
    width: 100% !important;
  }
  .head-search form {
    float: none;
  }
  .head-search .input {
    width: 100%;
    height: 30px;
  }
  .head-search .input:focus {
    width: 100%;
  }
  .languageswitcherload {
    float: left;
  }
  .languageswitcherload .mod-languages {
    text-align: right;
  }
  .t3-sl {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .t3-footnav {
    padding: 20px 20px 0;
    font-size: 12px;
  }
  .t3-footnav .module-title {
    font-size: 14px;
    font-weight: bold;
  }
  .t3-copyright {
    padding: 20px 20px 40px;
  }
  .t3-copyright:before,
  .t3-copyright:after {
    
    content: " ";
    
    display: table;
  }
  .t3-copyright:after {
    clear: both;
  }
  .copyright,
  .poweredby {
    float: none;
    display: inline-block;
    text-align: center;
  }
  .poweredby {
    margin-top: 10px;
  }
  .poweredby .t3-logo,
  .poweredby .t3-logo-small {
    float: none;
    display: inline-block;
  }
}

.t3-footer {
  background: #c00;
  color: #fff;
}
.t3-footer a {
  color: #ffcccc;
}
.t3-footer a:hover,
.t3-footer a:active,
.t3-footer a:focus {
  color: #fff;
}
.t3-footnav .module-title {
  color: #fff;
}
.t3-copyright {
  border-top: 1px solid #e60000;
}

