

.row-fluid {
  margin-left: -15px;
  margin-right: -15px;
}
.row-fluid:before,
.row-fluid:after {
  content: " ";
  

  display: table;
  

}
.row-fluid:after {
  clear: both;
}
[class*="span"] {
  float: left;
}
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.span12 {
  width: 100%;
}
.span11 {
  width: 91.66666666666666%;
}
.span10 {
  width: 83.33333333333334%;
}
.span9 {
  width: 75%;
}
.span8 {
  width: 66.66666666666666%;
}
.span7 {
  width: 58.33333333333334%;
}
.span6 {
  width: 50%;
}
.span5 {
  width: 41.66666666666667%;
}
.span4 {
  width: 33.33333333333333%;
}
.span3 {
  width: 25%;
}
.span2 {
  width: 16.66666666666666%;
}
.span1 {
  width: 8.333333333333332%;
}
.offset12 {
  margin-left: 100%;
}
.offset11 {
  margin-left: 91.66666666666666%;
}
.offset10 {
  margin-left: 83.33333333333334%;
}
.offset9 {
  margin-left: 75%;
}
.offset8 {
  margin-left: 66.66666666666666%;
}
.offset7 {
  margin-left: 58.33333333333334%;
}
.offset6 {
  margin-left: 50%;
}
.offset5 {
  margin-left: 41.66666666666667%;
}
.offset4 {
  margin-left: 33.33333333333333%;
}
.offset3 {
  margin-left: 25%;
}
.offset2 {
  margin-left: 16.66666666666666%;
}
.offset1 {
  margin-left: 8.333333333333332%;
}
.offset0 {
  margin-left: 0%;
}
.visible-phone,
tr.visible-phone,
th.visible-phone,
td.visible-phone {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-phone {
    display: block !important;
  }
  tr.visible-phone {
    display: table-row !important;
  }
  th.visible-phone,
  td.visible-phone {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-phone.visible-tablet {
    display: block !important;
  }
  tr.visible-phone.visible-tablet {
    display: table-row !important;
  }
  th.visible-phone.visible-tablet,
  td.visible-phone.visible-tablet {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-phone.visible-desktop {
    display: block !important;
  }
  tr.visible-phone.visible-desktop {
    display: table-row !important;
  }
  th.visible-phone.visible-desktop,
  td.visible-phone.visible-desktop {
    display: table-cell !important;
  }
}
.visible-tablet,
tr.visible-tablet,
th.visible-tablet,
td.visible-tablet {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-tablet.visible-phone {
    display: block !important;
  }
  tr.visible-tablet.visible-phone {
    display: table-row !important;
  }
  th.visible-tablet.visible-phone,
  td.visible-tablet.visible-phone {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-tablet {
    display: block !important;
  }
  tr.visible-tablet {
    display: table-row !important;
  }
  th.visible-tablet,
  td.visible-tablet {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-tablet.visible-desktop {
    display: block !important;
  }
  tr.visible-tablet.visible-desktop {
    display: table-row !important;
  }
  th.visible-tablet.visible-desktop,
  td.visible-tablet.visible-desktop {
    display: table-cell !important;
  }
}
.visible-desktop,
tr.visible-desktop,
th.visible-desktop,
td.visible-desktop {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-desktop.visible-phone {
    display: block !important;
  }
  tr.visible-desktop.visible-phone {
    display: table-row !important;
  }
  th.visible-desktop.visible-phone,
  td.visible-desktop.visible-phone {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-desktop.visible-tablet {
    display: block !important;
  }
  tr.visible-desktop.visible-tablet {
    display: table-row !important;
  }
  th.visible-desktop.visible-tablet,
  td.visible-desktop.visible-tablet {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-desktop {
    display: block !important;
  }
  tr.visible-desktop {
    display: table-row !important;
  }
  th.visible-desktop,
  td.visible-desktop {
    display: table-cell !important;
  }
}
.hidden-phone {
  display: block !important;
}
tr.hidden-phone {
  display: table-row !important;
}
th.hidden-phone,
td.hidden-phone {
  display: table-cell !important;
}
@media (max-width: 767px) {
  .hidden-phone,
  tr.hidden-phone,
  th.hidden-phone,
  td.hidden-phone {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-phone.hidden-tablet,
  tr.hidden-phone.hidden-tablet,
  th.hidden-phone.hidden-tablet,
  td.hidden-phone.hidden-tablet {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-phone.hidden-desktop,
  tr.hidden-phone.hidden-desktop,
  th.hidden-phone.hidden-desktop,
  td.hidden-phone.hidden-desktop {
    display: none !important;
  }
}
.hidden-tablet {
  display: block !important;
}
tr.hidden-tablet {
  display: table-row !important;
}
th.hidden-tablet,
td.hidden-tablet {
  display: table-cell !important;
}
@media (max-width: 767px) {
  .hidden-tablet.hidden-phone,
  tr.hidden-tablet.hidden-phone,
  th.hidden-tablet.hidden-phone,
  td.hidden-tablet.hidden-phone {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-tablet,
  tr.hidden-tablet,
  th.hidden-tablet,
  td.hidden-tablet {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-tablet.hidden-desktop,
  tr.hidden-tablet.hidden-desktop,
  th.hidden-tablet.hidden-desktop,
  td.hidden-tablet.hidden-desktop {
    display: none !important;
  }
}
.hidden-desktop {
  display: block !important;
}
tr.hidden-desktop {
  display: table-row !important;
}
th.hidden-desktop,
td.hidden-desktop {
  display: table-cell !important;
}
@media (max-width: 767px) {
  .hidden-desktop.hidden-phone,
  tr.hidden-desktop.hidden-phone,
  th.hidden-desktop.hidden-phone,
  td.hidden-desktop.hidden-phone {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-desktop.hidden-tablet,
  tr.hidden-desktop.hidden-tablet,
  th.hidden-desktop.hidden-tablet,
  td.hidden-desktop.hidden-tablet {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-desktop,
  tr.hidden-desktop,
  th.hidden-desktop,
  td.hidden-desktop {
    display: none !important;
  }
}
.width-10 {
  width: 10px;
}
.width-20 {
  width: 20px;
}
.width-30 {
  width: 30px;
}
.width-40 {
  width: 40px;
}
.width-50 {
  width: 50px;
}
.width-60 {
  width: 60px;
}
.width-70 {
  width: 70px;
}
.width-80 {
  width: 80px;
}
.width-90 {
  width: 90px;
}
.width-100 {
  width: 100px;
}
.height-10 {
  height: 10px;
}
.height-20 {
  height: 20px;
}
.height-30 {
  height: 30px;
}
.height-40 {
  height: 40px;
}
.height-50 {
  height: 50px;
}
.height-60 {
  height: 60px;
}
.height-70 {
  height: 70px;
}
.height-80 {
  height: 80px;
}
.height-90 {
  height: 90px;
}
.height-100 {
  height: 100px;
}
