//
// MOBILE
// -------------------------------------------------------------
@media (max-width: 767px) {

  /* HEADINGS & TITLES
  ---------------------------------------------------------*/
  h1 {
    font-size: @baseFontSize * 2;
    line-height: 1.25;
    small {
      font-size: @baseFontSize * 2;
    }
  }

  h2 {
    font-size: @baseFontSize * 1.5; 
    line-height: 1.25;
    small {
      font-size: @baseFontSize * 1.5;
    }
  }

  h3 {
    font-size: @baseFontSize * 1.25; 
    line-height: 1.25; 
    small {
      font-size: @baseFontSize;
    }
  }

  h4, h5, h6 {
    font-size: @baseFontSize; 
    line-height: 1.25;
    small {
      font-size: @baseFontSize -2px;
    }
  }

}