/* -------------------------------------------------*/
/* T3 ADMIN LAYOUT STYLE
/* JoomlArt.com
---------------------------------------------------*/

/* Layout Config Panel
---------------------------------------------------*/
.layout-custom {
  width: 720px;
  float: left;
  padding: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  clear: both;
}

/* Reset
--------*/
.layout-custom .navbar-inner {
  min-height: none;
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  filter: -;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


/* Styling
-----------*/
.t3-layout-section {
  margin: 0 0 12px;
  padding: 12px 12px 0;
  border-radius: 3px;
  background: #f2f2f2;
}

.t3-layout-section .t3-layout-section {
  padding: 0;
  margin: 0;
}

.t3-layout-section .container {
  text-align: left;
}

.t3-layout-splgroup {
  background: url(../images/grouper.gif) no-repeat left bottom, url(../images/grouper.gif) no-repeat right bottom;
  margin-bottom: 12px;
}

.t3-layout-mode-r .t3-layout-splgroup {
  padding-bottom: 26px !important;
  position: relative;
}

.t3-layout-mode-r .t3-layout-splgroup:before {
  content: "Spotlight";
  text-transform: UPPERCASE;
  font-size: 10px;
  background: #ddd;
  color: #666;
  width: 80px;
  height: 20px;
  line-height: 20px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 3px;
  text-align: center;
  text-shadow: 1px 1px 1px #FFF;
  border-radius: 10px;
  margin-left: -40px;
}

.t3-layout-pos {
  background: #fff;
  border: 1px solid #ddd;
  position: relative;
  margin-bottom: 12px;
  font-size: 12px;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  border-radius: 3px;
  text-align: left;
  overflow: hidden;
}

.t3-layout-pos h3 {
  margin: 0;
  line-height: normal;
  font-size: 12px;
  white-space: nowrap;
}

.t3-layout-pos:hover {
  border: 1px solid #aaa;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}


/* Layout Edit Tabs
-------------------- */
.t3-row-device {
  padding: 15px 30px;
  background-color: #fff;
  border-bottom: 1px dotted #ccc;
}

.t3-row-mode .t3-reset-all {
  margin-top: -40px;
  margin-right: 30px;
}

.t3-row-device .t3-reset-position,
.t3-row-device .t3-reset-device {
}

.t3-layout-devices {
  display: inline-block;
}


/* Fullscreen Toggle */
#layout_params .t3-tog-fullscreen {
  position: absolute;
  right: 30px;
  top: -50px;
}


/* User Interation Elements
--------------------------*/
/* Edit Button ---*/
.t3-layout-edit {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #ddd;
  border-top: none;
  border-right: none;
  border-radius: 0 3px 0 3px;
  color: #666;
  background: #eee;
  display: none;
}

.t3-layout-mode-m .t3-layout-pos:hover .t3-layout-edit {
  display: block;
}


/* Visibility Button ---*/
.t3-layout-vis {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #ddd;
  border-top: none;
  border-right: none;
  border-radius: 0 3px 0 3px;
  color: #555;
  background: #eee;
  display: none;
}

.t3-layout-mode-r .t3-layout-pos .t3-layout-vis {
  display: block;
}

.t3-layout-unit {
  position: relative;
}


/* Resize 2 ---*/
.t3-layout-rzhandle {
  display: block;
  cursor: e-resize;
  width: 7px;
  right: -11px;
  top: 0;
  height: 100%;
  position: absolute;
  font-size: 0.1px;
  z-index: 1000;
  background: url(../images/resizer.gif) no-repeat center 20px;
  opacity: .15;
}

.t3-layout-rzhandle:hover {
  opacity: .8;
}

.t3-layout-mode-m .t3-layout-rzhandle {
  display: none;
}

/* Resizer position for different devices */
.wide .t3-layout-rzhandle {
  right: -11px;
}

.normal .t3-layout-rzhandle {
  right: -9px;
}

.xtablet .t3-layout-rzhandle,
.tablet .t3-layout-rzhandle,
.mobile .t3-layout-rzhandle {
  right: -8px;
}


/* Column Chooser ---*/
.t3-layout-ncolumns {
  display: none;
  text-align: center;
  position: relative;
}

.t3-layout-mode-m .t3-layout-ncolumns {
  display: block;
}

.t3-layout-ncolumns .btn {
  font-size: 12px;
  background: #eee;
  border-color: #ddd;
}

.t3-layout-ncolumns .btn.active,
.t3-layout-ncolumns .btn:active {
  background: #ddd;
}


/* Popover*/
.popover .chzn-done {
  width: 100%;
  margin-bottom: 10px;
  font-size: 13px;
}


/* Special Pos Styles
-------------------- */
.block-component {
  height: 100px;
  border-color: #c1c382;
  background: #feffde;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
}

.block-sidebar-1,
.block-sidebar-2,
.block-sidebar-3,
.block-sidebar-4,
.block-sidebar-5 {
  height: 100px;
  border-color: #dfedc3;
  background: #f4f9ea;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
}

.layout-custom #t3-content,
.layout-custom #t3-mainbody .t3-sidebar {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;

  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
}

/* Logo ---*/
.layout-custom .logo {
  width: auto;
  max-width: none;
  margin-bottom: 12px;
  padding: 10px;
}

.layout-custom .logo h1 {
  font-size: 24px;
  margin: 0;
  line-height: normal;
}

/* Powered by ---*/
.poweredby {
  text-align: right;
  line-height: normal;
}

.poweredby a {
  display: block;
  color: #999;
  padding: 10px;
}

.poweredby a strong {
  display: block;
}


/* Position States
-------------------*/
/* Pos Off ---*/
.pos-off {
  border-color: #c00;
  color: #c00;
}

.pos-off .t3-layout-edit {
  display: block;
}

.pos-off:hover {
  border-color: #c00;
}

/* Pos Active ---*/
.pos-active {
  border: 1px solid #aaa;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.t3-layout-mode-m .pos-active .t3-layout-edit {
  display: block;
}

.pos-active:hover {
  border-color: #aaa;
}

/* Pos Hidden ---*/
.t3-layout-hiddenpos {
  display: none;
}

.t3-layout-hiddenpos.has-pos {
  display: block;
  padding: 0 12px 0 42px;
  margin-bottom: 20px;
  background: #ddd;
  border-radius: 3px;
  position: relative;
}

.t3-layout-hiddenpos:before {
  content: "\f070";
  font-family: "FontAwesome";
  font-size: 16px;
  background: #c00;
  color: #fff;
  width: 34px;
  height: 100%;
  line-height: 36px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  border-radius: 3px 0 0 3px;
}

.pos-hidden {
  display: inline-block;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 3px;
  padding: 1px 10px;
  font-size: 12px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.pos-hidden i {
  margin-left: 5px;
  display: none;
}

.pos-hidden:hover {
  border: 1px solid #999;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.t3-hide {
  display: none !important;
}

.layout-custom .hidden {
  opacity: 0.5;
  display: block;
  visibility: visible;
}

/* Layout Clone
---------------------------------------------------*/
#t3-layout-clone-btns {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

#t3-layout-clone-btns .btn {
  margin-left: 5px;
}

/* Layout Clone Modal
---------------------------------------------------*/

#t3-layout-clone-dlg {
  font: 14px/20px sans-serif;
  color: #666;
  width: 450px;
  margin: -200px 0 0 -225px;
  border: 1px solid #333;
  border-radius: 3px;
}