@media (max-width: 767px) {
  .home .t3-sl-1,
  .home .t3-sl-5 {
    margin-right: -20px;
    margin-left: -20px;
  }
  .home .t3-sl-1 .jumbotron,
  .home .t3-sl-5 .jumbotron {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .home .t3-sl-1 .jumbotron .btn-large,
  .home .t3-sl-5 .jumbotron .btn-large {
    font-size: 16px;
    padding: 12px 16px;
  }
  .home .t3-sl-2 {
    text-align: center;
  }
  .home .t3-sl-2 p {
    font-size: 14px;
    line-height: 20px;
  }
  .home .t3-sl-3 p img {
    margin-bottom: 0;
    margin-top: 20px;
  }
  .home .t3-sl-3 p,
  .home .t3-sl-4 p {
    font-size: 14px;
    line-height: 20px;
  }
  .home .t3-sl-3 .jumbotron,
  .home .t3-sl-4 .jumbotron {
    padding-bottom: 0;
  }
  .home .t3-sl-3 .jumbotron h1,
  .home .t3-sl-4 .jumbotron h1 {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .home .t3-sl-3 .jumbotron p,
  .home .t3-sl-4 .jumbotron p {
    font-size: 14px;
  }
}
