

@media (min-width: 980px) and (max-width: 1199px) {
  .row {
    margin-right: -40px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: right;
    min-height: 1px;
    margin-right: 40px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 932px;
  }
  .span11 {
    width: 851px;
  }
  .span10 {
    width: 770px;
  }
  .span9 {
    width: 689px;
  }
  .span8 {
    width: 608px;
  }
  .span7 {
    width: 527px;
  }
  .span6 {
    width: 446px;
  }
  .span5 {
    width: 365px;
  }
  .span4 {
    width: 284px;
  }
  .span3 {
    width: 203px;
  }
  .span2 {
    width: 122px;
  }
  .span1 {
    width: 41px;
  }
  .span0 {
    width: -40px;
  }
  .offset11 {
    margin-right: 931px;
  }
  .offset10 {
    margin-right: 850px;
  }
  .offset9 {
    margin-right: 769px;
  }
  .offset8 {
    margin-right: 688px;
  }
  .offset7 {
    margin-right: 607px;
  }
  .offset6 {
    margin-right: 526px;
  }
  .offset5 {
    margin-right: 445px;
  }
  .offset4 {
    margin-right: 364px;
  }
  .offset3 {
    margin-right: 283px;
  }
  .offset2 {
    margin-right: 202px;
  }
  .offset1 {
    margin-right: 121px;
  }
  .offset0 {
    margin-right: 40px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    margin-right: 4.29184549356%;
    *margin-right: 4.23819742489%;
  }
  .row-fluid [class*="span"]:first-child {
    margin-right: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-right: 4.29184549356%;
  }
  .row-fluid .span11 {
    width: 91.3090128755%;
    *width: 91.2553648069%;
  }
  .row-fluid .span10 {
    width: 82.6180257511%;
    *width: 82.5643776824%;
  }
  .row-fluid .span9 {
    width: 73.9270386266%;
    *width: 73.8733905579%;
  }
  .row-fluid .span8 {
    width: 65.2360515021%;
    *width: 65.1824034335%;
  }
  .row-fluid .span7 {
    width: 56.5450643777%;
    *width: 56.491416309%;
  }
  .row-fluid .span6 {
    width: 47.8540772532%;
    *width: 47.8004291845%;
  }
  .row-fluid .span5 {
    width: 39.1630901288%;
    *width: 39.1094420601%;
  }
  .row-fluid .span4 {
    width: 30.4721030043%;
    *width: 30.4184549356%;
  }
  .row-fluid .span3 {
    width: 21.7811158798%;
    *width: 21.7274678112%;
  }
  .row-fluid .span2 {
    width: 13.0901287554%;
    *width: 13.0364806867%;
  }
  .row-fluid .span1 {
    width: 4.3991416309%;
    *width: 4.34549356223%;
  }
  .row-fluid .span0 {
    width: -4.29184549356%;
    *width: -4.34549356223%;
  }
  .row-fluid .offset11 {
    margin-right: 99.8927038627%;
    *margin-right: 99.7854077253%;
  }
  .row-fluid .offset11:first-child {
    margin-right: 95.6008583691%;
    *margin-right: 95.4935622318%;
  }
  .row-fluid .offset10 {
    margin-right: 91.2017167382%;
    *margin-right: 91.0944206009%;
  }
  .row-fluid .offset10:first-child {
    margin-right: 86.9098712446%;
    *margin-right: 86.8025751073%;
  }
  .row-fluid .offset9 {
    margin-right: 82.5107296137%;
    *margin-right: 82.4034334764%;
  }
  .row-fluid .offset9:first-child {
    margin-right: 78.2188841202%;
    *margin-right: 78.1115879828%;
  }
  .row-fluid .offset8 {
    margin-right: 73.8197424893%;
    *margin-right: 73.7124463519%;
  }
  .row-fluid .offset8:first-child {
    margin-right: 69.5278969957%;
    *margin-right: 69.4206008584%;
  }
  .row-fluid .offset7 {
    margin-right: 65.1287553648%;
    *margin-right: 65.0214592275%;
  }
  .row-fluid .offset7:first-child {
    margin-right: 60.8369098712%;
    *margin-right: 60.7296137339%;
  }
  .row-fluid .offset6 {
    margin-right: 56.4377682403%;
    *margin-right: 56.330472103%;
  }
  .row-fluid .offset6:first-child {
    margin-right: 52.1459227468%;
    *margin-right: 52.0386266094%;
  }
  .row-fluid .offset5 {
    margin-right: 47.7467811159%;
    *margin-right: 47.6394849785%;
  }
  .row-fluid .offset5:first-child {
    margin-right: 43.4549356223%;
    *margin-right: 43.347639485%;
  }
  .row-fluid .offset4 {
    margin-right: 39.0557939914%;
    *margin-right: 38.9484978541%;
  }
  .row-fluid .offset4:first-child {
    margin-right: 34.7639484979%;
    *margin-right: 34.6566523605%;
  }
  .row-fluid .offset3 {
    margin-right: 30.364806867%;
    *margin-right: 30.2575107296%;
  }
  .row-fluid .offset3:first-child {
    margin-right: 26.0729613734%;
    *margin-right: 25.9656652361%;
  }
  .row-fluid .offset2 {
    margin-right: 21.6738197425%;
    *margin-right: 21.5665236052%;
  }
  .row-fluid .offset2:first-child {
    margin-right: 17.3819742489%;
    *margin-right: 17.2746781116%;
  }
  .row-fluid .offset1 {
    margin-right: 12.982832618%;
    *margin-right: 12.8755364807%;
  }
  .row-fluid .offset1:first-child {
    margin-right: 8.69098712446%;
    *margin-right: 8.58369098712%;
  }
  .row-fluid .offset0 {
    margin-right: 4.29184549356%;
    *margin-right: 4.18454935622%;
  }
  .row-fluid .offset0:first-child {
    margin-right: 0%;
    *margin-right: -0.107296137339%;
  }
  input,
  textarea,
  .uneditable-input {
    margin-right: 0;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-right: 40px;
  }
  input.span11,
  textarea.span11,
  .uneditable-input.span11 {
    width: 837px;
  }
  input.span10,
  textarea.span10,
  .uneditable-input.span10 {
    width: 756px;
  }
  input.span9,
  textarea.span9,
  .uneditable-input.span9 {
    width: 675px;
  }
  input.span8,
  textarea.span8,
  .uneditable-input.span8 {
    width: 594px;
  }
  input.span7,
  textarea.span7,
  .uneditable-input.span7 {
    width: 513px;
  }
  input.span6,
  textarea.span6,
  .uneditable-input.span6 {
    width: 432px;
  }
  input.span5,
  textarea.span5,
  .uneditable-input.span5 {
    width: 351px;
  }
  input.span4,
  textarea.span4,
  .uneditable-input.span4 {
    width: 270px;
  }
  input.span3,
  textarea.span3,
  .uneditable-input.span3 {
    width: 189px;
  }
  input.span2,
  textarea.span2,
  .uneditable-input.span2 {
    width: 108px;
  }
  input.span1,
  textarea.span1,
  .uneditable-input.span1 {
    width: 27px;
  }
  input.span0,
  textarea.span0,
  .uneditable-input.span0 {
    width: -54px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .offset-11 {
    margin-right: -673px;
  }
  .offset-10 {
    margin-right: -610px;
  }
  .offset-9 {
    margin-right: -547px;
  }
  .offset-8 {
    margin-right: -484px;
  }
  .offset-7 {
    margin-right: -421px;
  }
  .offset-6 {
    margin-right: -358px;
  }
  .offset-5 {
    margin-right: -295px;
  }
  .offset-4 {
    margin-right: -232px;
  }
  .offset-3 {
    margin-right: -169px;
  }
  .offset-2 {
    margin-right: -106px;
  }
  .offset-1 {
    margin-right: -43px;
  }
  .offset-0 {
    margin-right: 20px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .offset-11 {
    margin-right: -851px;
  }
  .offset-10 {
    margin-right: -770px;
  }
  .offset-9 {
    margin-right: -689px;
  }
  .offset-8 {
    margin-right: -608px;
  }
  .offset-7 {
    margin-right: -527px;
  }
  .offset-6 {
    margin-right: -446px;
  }
  .offset-5 {
    margin-right: -365px;
  }
  .offset-4 {
    margin-right: -284px;
  }
  .offset-3 {
    margin-right: -203px;
  }
  .offset-2 {
    margin-right: -122px;
  }
  .offset-1 {
    margin-right: -41px;
  }
  .offset-0 {
    margin-right: 40px;
  }
}
@media (min-width: 1200px) {
  .offset-11 {
    margin-right: -1093px;
  }
  .offset-10 {
    margin-right: -990px;
  }
  .offset-9 {
    margin-right: -887px;
  }
  .offset-8 {
    margin-right: -784px;
  }
  .offset-7 {
    margin-right: -681px;
  }
  .offset-6 {
    margin-right: -578px;
  }
  .offset-5 {
    margin-right: -475px;
  }
  .offset-4 {
    margin-right: -372px;
  }
  .offset-3 {
    margin-right: -269px;
  }
  .offset-2 {
    margin-right: -166px;
  }
  .offset-1 {
    margin-right: -63px;
  }
  .offset-0 {
    margin-right: 40px;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .row,
  .row-fluid {
    width: 100%;
    margin-right: 0;
    *zoom: 1;
  }
  .row:before,
  .row-fluid:before,
  .row:after,
  .row-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .row:after,
  .row-fluid:after {
    clear: both;
  }
  .row [class*="span"],
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    margin-right: 2.71739130435%;
    *margin-right: 2.66374323568%;
  }
  .row [class*="span"]:first-child:not(.pull-right),
  .row-fluid [class*="span"]:first-child:not(.pull-right) {
    margin-right: 0;
  }
  .row [class*="span"].pull-left:first-child + [class*="span"]:not(.pull-right),
  .row-fluid [class*="span"].pull-left:first-child + [class*="span"]:not(.pull-right) {
    margin-right: 0;
  }
  .row .span11,
  .row-fluid .span11 {
    width: 91.4402173913%;
    *width: 91.3865693226%;
  }
  .row .span10,
  .row-fluid .span10 {
    width: 82.8804347826%;
    *width: 82.8267867139%;
  }
  .row .span9,
  .row-fluid .span9 {
    width: 74.3206521739%;
    *width: 74.2670041052%;
  }
  .row .span8,
  .row-fluid .span8 {
    width: 65.7608695652%;
    *width: 65.7072214965%;
  }
  .row .span7,
  .row-fluid .span7 {
    width: 57.2010869565%;
    *width: 57.1474388879%;
  }
  .row .span6,
  .row-fluid .span6 {
    width: 48.6413043478%;
    *width: 48.5876562792%;
  }
  .row .span5,
  .row-fluid .span5 {
    width: 40.0815217391%;
    *width: 40.0278736705%;
  }
  .row .span4,
  .row-fluid .span4 {
    width: 31.5217391304%;
    *width: 31.4680910618%;
  }
  .row .span3,
  .row-fluid .span3 {
    width: 22.9619565217%;
    *width: 22.9083084531%;
  }
  .row .span2,
  .row-fluid .span2 {
    width: 14.402173913%;
    *width: 14.3485258444%;
  }
  .row .span1,
  .row-fluid .span1 {
    width: 5.84239130435%;
    *width: 5.78874323568%;
  }
  .row .span0,
  .row-fluid .span0 {
    width: -2.71739130435%;
    *width: -2.77103937302%;
  }
  .span11 .row [class*="span"] {
    margin-right: 2.97176820208%;
    *margin-right: 2.91812013341%;
  }
  .span11 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span11 .row .span10 {
    width: 90.6389301634%;
    *width: 90.5852820948%;
  }
  .span11 .row .span9 {
    width: 81.2778603269%;
    *width: 81.2242122582%;
  }
  .span11 .row .span8 {
    width: 71.9167904903%;
    *width: 71.8631424217%;
  }
  .span11 .row .span7 {
    width: 62.5557206538%;
    *width: 62.5020725851%;
  }
  .span11 .row .span6 {
    width: 53.1946508172%;
    *width: 53.1410027486%;
  }
  .span11 .row .span5 {
    width: 43.8335809807%;
    *width: 43.779932912%;
  }
  .span11 .row .span4 {
    width: 34.4725111441%;
    *width: 34.4188630755%;
  }
  .span11 .row .span3 {
    width: 25.1114413076%;
    *width: 25.0577932389%;
  }
  .span11 .row .span2 {
    width: 15.750371471%;
    *width: 15.6967234024%;
  }
  .span11 .row .span1 {
    width: 6.38930163447%;
    *width: 6.3356535658%;
  }
  .span11 .row .span0 {
    width: -2.97176820208%;
    *width: -3.02541627075%;
  }
  .span10 .row [class*="span"] {
    margin-right: 3.27868852459%;
    *margin-right: 3.22504045592%;
  }
  .span10 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span10 .row .span9 {
    width: 89.6721311475%;
    *width: 89.6184830789%;
  }
  .span10 .row .span8 {
    width: 79.3442622951%;
    *width: 79.2906142264%;
  }
  .span10 .row .span7 {
    width: 69.0163934426%;
    *width: 68.962745374%;
  }
  .span10 .row .span6 {
    width: 58.6885245902%;
    *width: 58.6348765215%;
  }
  .span10 .row .span5 {
    width: 48.3606557377%;
    *width: 48.307007669%;
  }
  .span10 .row .span4 {
    width: 38.0327868852%;
    *width: 37.9791388166%;
  }
  .span10 .row .span3 {
    width: 27.7049180328%;
    *width: 27.6512699641%;
  }
  .span10 .row .span2 {
    width: 17.3770491803%;
    *width: 17.3234011117%;
  }
  .span10 .row .span1 {
    width: 7.04918032787%;
    *width: 6.9955322592%;
  }
  .span10 .row .span0 {
    width: -3.27868852459%;
    *width: -3.33233659326%;
  }
  .span9 .row [class*="span"] {
    margin-right: 3.6563071298%;
    *margin-right: 3.60265906113%;
  }
  .span9 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span9 .row .span8 {
    width: 88.4826325411%;
    *width: 88.4289844725%;
  }
  .span9 .row .span7 {
    width: 76.9652650823%;
    *width: 76.9116170136%;
  }
  .span9 .row .span6 {
    width: 65.4478976234%;
    *width: 65.3942495547%;
  }
  .span9 .row .span5 {
    width: 53.9305301645%;
    *width: 53.8768820959%;
  }
  .span9 .row .span4 {
    width: 42.4131627057%;
    *width: 42.359514637%;
  }
  .span9 .row .span3 {
    width: 30.8957952468%;
    *width: 30.8421471781%;
  }
  .span9 .row .span2 {
    width: 19.3784277879%;
    *width: 19.3247797193%;
  }
  .span9 .row .span1 {
    width: 7.86106032907%;
    *width: 7.8074122604%;
  }
  .span9 .row .span0 {
    width: -3.6563071298%;
    *width: -3.70995519847%;
  }
  .span8 .row [class*="span"] {
    margin-right: 4.13223140496%;
    *margin-right: 4.07858333629%;
  }
  .span8 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span8 .row .span7 {
    width: 86.9834710744%;
    *width: 86.9298230057%;
  }
  .span8 .row .span6 {
    width: 73.9669421488%;
    *width: 73.9132940801%;
  }
  .span8 .row .span5 {
    width: 60.9504132231%;
    *width: 60.8967651545%;
  }
  .span8 .row .span4 {
    width: 47.9338842975%;
    *width: 47.8802362289%;
  }
  .span8 .row .span3 {
    width: 34.9173553719%;
    *width: 34.8637073032%;
  }
  .span8 .row .span2 {
    width: 21.9008264463%;
    *width: 21.8471783776%;
  }
  .span8 .row .span1 {
    width: 8.88429752066%;
    *width: 8.83064945199%;
  }
  .span8 .row .span0 {
    width: -4.13223140496%;
    *width: -4.18587947363%;
  }
  .span7 .row [class*="span"] {
    margin-right: 4.75059382423%;
    *margin-right: 4.69694575556%;
  }
  .span7 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span7 .row .span6 {
    width: 85.0356294537%;
    *width: 84.981981385%;
  }
  .span7 .row .span5 {
    width: 70.0712589074%;
    *width: 70.0176108387%;
  }
  .span7 .row .span4 {
    width: 55.106888361%;
    *width: 55.0532402924%;
  }
  .span7 .row .span3 {
    width: 40.1425178147%;
    *width: 40.0888697461%;
  }
  .span7 .row .span2 {
    width: 25.1781472684%;
    *width: 25.1244991997%;
  }
  .span7 .row .span1 {
    width: 10.2137767221%;
    *width: 10.1601286534%;
  }
  .span7 .row .span0 {
    width: -4.75059382423%;
    *width: -4.8042418929%;
  }
  .span6 .row [class*="span"] {
    margin-right: 5.58659217877%;
    *margin-right: 5.5329441101%;
  }
  .span6 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span6 .row .span5 {
    width: 82.4022346369%;
    *width: 82.3485865682%;
  }
  .span6 .row .span4 {
    width: 64.8044692737%;
    *width: 64.7508212051%;
  }
  .span6 .row .span3 {
    width: 47.2067039106%;
    *width: 47.1530558419%;
  }
  .span6 .row .span2 {
    width: 29.6089385475%;
    *width: 29.5552904788%;
  }
  .span6 .row .span1 {
    width: 12.0111731844%;
    *width: 11.9575251157%;
  }
  .span6 .row .span0 {
    width: -5.58659217877%;
    *width: -5.64024024744%;
  }
  .span5 .row [class*="span"] {
    margin-right: 6.77966101695%;
    *margin-right: 6.72601294828%;
  }
  .span5 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span5 .row .span4 {
    width: 78.6440677966%;
    *width: 78.5904197279%;
  }
  .span5 .row .span3 {
    width: 57.2881355932%;
    *width: 57.2344875246%;
  }
  .span5 .row .span2 {
    width: 35.9322033898%;
    *width: 35.8785553212%;
  }
  .span5 .row .span1 {
    width: 14.5762711864%;
    *width: 14.5226231178%;
  }
  .span5 .row .span0 {
    width: -6.77966101695%;
    *width: -6.83330908562%;
  }
  .span4 .row [class*="span"] {
    margin-right: 8.62068965517%;
    *margin-right: 8.5670415865%;
  }
  .span4 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span4 .row .span3 {
    width: 72.8448275862%;
    *width: 72.7911795175%;
  }
  .span4 .row .span2 {
    width: 45.6896551724%;
    *width: 45.6360071037%;
  }
  .span4 .row .span1 {
    width: 18.5344827586%;
    *width: 18.48083469%;
  }
  .span4 .row .span0 {
    width: -8.62068965517%;
    *width: -8.67433772384%;
  }
  .span3 .row [class*="span"] {
    margin-right: 11.8343195266%;
    *margin-right: 11.780671458%;
  }
  .span3 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span3 .row .span2 {
    width: 62.7218934911%;
    *width: 62.6682454225%;
  }
  .span3 .row .span1 {
    width: 25.4437869822%;
    *width: 25.3901389136%;
  }
  .span3 .row .span0 {
    width: -11.8343195266%;
    *width: -11.8879675953%;
  }
  .span2 .row [class*="span"] {
    margin-right: 18.8679245283%;
    *margin-right: 18.8142764596%;
  }
  .span2 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span2 .row .span1 {
    width: 40.5660377358%;
    *width: 40.5123896672%;
  }
  .span2 .row .span0 {
    width: -18.8679245283%;
    *width: -18.921572597%;
  }
  .span1 .row [class*="span"] {
    margin-right: 46.511627907%;
    *margin-right: 46.4579798383%;
  }
  .span1 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .span1 .row .span0 {
    width: -46.511627907%;
    *width: -46.5652759756%;
  }
  .span0 .row [class*="span"] {
    margin-right: -100%;
    *margin-right: -100.053648069%;
  }
  .span0 .row [class*="span"]:first-child {
    margin-right: 0;
  }
  .spanfirst {
    margin-right: 0 !important;
    clear: right;
  }
}
.row .span50,
.row-fluid .span50 {
  width: 50%;
  float: right;
}
.row .span33,
.row-fluid .span33 {
  width: 33.3333%;
  float: right;
}
.row .span25,
.row-fluid .span25 {
  width: 25%;
  float: right;
}
.row .span20,
.row-fluid .span20 {
  width: 20%;
  float: right;
}
.row .span16,
.row-fluid .span16 {
  width: 16.6666%;
  float: right;
}

.hidden {
  display: none !important;
  visibility: hidden;
}
@media (min-width: 768px) and (max-width: 979px) {
  .jumbotron {
    padding: 20px 0;
  }
  .jumbotron h1 {
    font-size: 28px;
  }
  .jumbotron p {
    font-size: 14px;
  }
  .masthead {
    padding: 40px 0;
  }
  .masthead h1 {
    font-size: 56px;
  }
  .masthead p {
    font-size: 28px;
  }
  .masthead .btn-large {
    font-size: 16px;
    padding: 12px 16px;
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .jumbotron {
    padding: 20px 0;
  }
  .jumbotron h1 {
    font-size: 28px;
  }
  .jumbotron p {
    font-size: 16px;
  }
  .masthead {
    padding: 20px 0;
  }
  .masthead h1 {
    font-size: 28px;
  }
  .masthead p {
    font-size: 16px;
  }
  .masthead .btn-large {
    font-size: 14px;
    padding: 12px 16px;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .always-show .mega > .mega-dropdown-menu,
  .always-show .dropdown-menu {
    display: block !important;
  }
  .navbar-collapse-fixed-top,
  .navbar-collapse-fixed-bottom {
    border-top: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .navbar-collapse-fixed-top .nav-collapse,
  .navbar-collapse-fixed-bottom .nav-collapse {
    position: absolute;
    width: 100%;
    right: 0;
    top: 41px;
    margin: 0;
  }
  .navbar-collapse-fixed-top .nav-collapse.in,
  .navbar-collapse-fixed-bottom .nav-collapse.in {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .navbar-collapse-fixed-top .nav-collapse.in > *,
  .navbar-collapse-fixed-bottom .nav-collapse.in > * {
    -webkit-transform: translateZ(0);
  }
  .navbar-collapse-fixed-top .nav-collapse.animate,
  .navbar-collapse-fixed-bottom .nav-collapse.animate {
    overflow: hidden;
  }
  .navbar-collapse-fixed-bottom {
    bottom: 0;
    top: auto;
  }
  .navbar-collapse-fixed-bottom .nav-collapse {
    bottom: 41px;
    top: auto;
  }
  .navbar-collapse-fixed-bottom .btn-navbar {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 28px;
    line-height: 1.25;
  }
  h1 small {
    font-size: 28px;
  }
  h2 {
    font-size: 21px;
    line-height: 1.25;
  }
  h2 small {
    font-size: 21px;
  }
  h3 {
    font-size: 17.5px;
    line-height: 1.25;
  }
  h3 small {
    font-size: 14px;
  }
  h4,
  h5,
  h6 {
    font-size: 14px;
    line-height: 1.25;
  }
  h4 small,
  h5 small,
  h6 small {
    font-size: 14px -2px;
  }
}

@media (max-width: 767px) {
  .t3-navhelper {
    margin-right: -20px;
    margin-left: -20px;
  }
  .t3-mainnav {
    background: #e6e6e6;
    border-top: 1px solid #d9d9d9;
    height: auto;
    margin-right: -20px;
    margin-left: -20px;
  }
  .t3-mainnav .navbar .btn-navbar:hover {
    cursor: pointer;
  }
  .t3-mainnav .nav-collapse {
    margin-top: 10px;
    background: #fff;
  }
  .t3-mainnav .nav-collapse .nav {
    margin: 0;
  }
  .t3-mainnav .nav-collapse .nav > li > a {
    margin-bottom: 0;
  }
  .t3-mainnav .nav-collapse .nav > li > a,
  .t3-mainnav .nav-collapse .dropdown-menu a {
    border-bottom: 1px solid #444444;
    padding: 10px 20px;
    font-weight: bold;
    text-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .t3-mainnav .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 0;
  }
  .t3-mainnav .nav-collapse .nav > li > a:hover {
    background-color: #666666;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  .t3-mainnav .nav-collapse .dropdown-menu a {
    border-top: 1px solid #d9d9d9;
    border-bottom: 0;
    font-weight: normal;
    padding: 10px 20px;
  }
  .t3-mainnav .nav-collapse .dropdown-menu a:hover {
    background-color: #666666;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  .t3-mainnav .nav-collapse .dropdown-menu {
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .t3-mainnav.navbar-collapse-fixed-top,
  .t3-mainnav.navbar-collapse-fixed-bottom {
    margin: 0;
  }
  .t3-mainnav.navbar-collapse-fixed-top .nav-collapse,
  .t3-mainnav.navbar-collapse-fixed-bottom .nav-collapse {
    margin: 0;
  }
  .t3-mainnav {
    background: #444444;
    border-top: 1px solid #444444;
  }
  .t3-mainnav .nav-collapse {
    background: #222222;
    color: #eeeeee;
  }
  .t3-mainnav .nav-collapse .nav > li > a,
  .t3-mainnav .nav-collapse .dropdown-menu a {
    border-bottom: 1px solid #666666;
  }
  .t3-mainnav .nav-collapse .nav > li > a:hover,
  .t3-mainnav .nav-collapse .dropdown-menu a:hover {
    background-color: #666666;
  }
  .t3-mainnav .nav-collapse .dropdown-menu a {
    border-top: 1px solid #666666;
    border-bottom: 0;
  }
  .t3-mainnav .nav-collapse .dropdown-menu a:hover {
    background-color: #666666;
  }
  .t3-mainnav .nav-collapse .dropdown-menu {
    background-color: #444444;
  }
  .t3-mainnav .navbar .nav > li > .dropdown-menu:before,
  .t3-mainnav .navbar .nav > li > .dropdown-menu:after,
  .t3-mainnav .navbar .nav > li > .dropdown-menu .divider {
    display: none;
  }
  .t3-mainnav .customization {
    display: none;
  }
}

@media (max-width: 599px) {
  article img[align=left],
  .img_caption.left,
  article img[align=right],
  .img_caption.right,
  .img-fulltext-left,
  .img-fulltext-right {
    float: none !important;
    margin-right: 0;
    margin-left: 0;
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .logo {
    float: right !important;
    text-align: center;
    width: 100% !important;
  }
  .head-search {
    float: right !important;
    margin-top: 20px;
    margin-right: 0 !important;
    width: 100% !important;
  }
  .head-search form {
    float: none;
  }
  .head-search .input {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
  }
  .head-search .input:focus {
    width: 100%;
  }
  .t3-header .span8,
  .t3-header .span4 {
    width: 100% !important;
    margin-right: 0 !important;
    float: none;
  }
  .languageswitcherload {
    float: right;
  }
  .languageswitcherload .mod-languages {
    text-align: left;
  }
  .t3-sl {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .t3-footer {
    margin-right: -20px;
    margin-left: -20px;
  }
  .t3-footnav {
    padding: 20px 20px 0;
    font-size: 12px;
  }
  .t3-footnav .module-title {
    font-size: 14px;
    font-weight: bold;
  }
  .t3-copyright {
    padding: 20px 20px 40px;
    *zoom: 1;
  }
  .t3-copyright:before,
  .t3-copyright:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .t3-copyright:after {
    clear: both;
  }
  .copyright,
  .poweredby {
    float: none;
    display: inline-block;
    text-align: center;
  }
  .poweredby {
    margin-top: 10px;
  }
  .poweredby .t3-logo,
  .poweredby .t3-logo-small {
    float: none;
    display: inline-block;
  }
}
