

.home .t3-sl-1 {
  padding: 0;
}
.home .t3-sl-1 .jumbotron {
  background-color: #eeeeee;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#ffffff), to(#eeeeee));
  background-image: -webkit-radial-gradient(circle, #ffffff, #eeeeee);
  background-image: -moz-radial-gradient(circle, #ffffff, #eeeeee);
  background-image: -o-radial-gradient(circle, #ffffff, #eeeeee);
  background-repeat: no-repeat;
  border-bottom: 1px solid #dddddd;
}
.home .t3-sl-1 .jumbotron .btn-large {
  font-size: 24.5px;
  padding: 18px 44.5px;
}
.home .t3-sl-1 .t3-social {
  background: #eeeeee;
  padding: 20px 0;
}
.home .t3-sl-1 .t3-social .t3-social-btns {
  margin: 0;
  height: 20px;
  text-align: center;
}
.home .t3-sl-1 .t3-social .t3-social-btns li {
  display: inline-block;
  margin: 0 10px;
  height: 20px;
}
.home .t3-sl-2 {
  text-align: center;
}
.home .t3-sl-2 p {
  font-size: 16px;
  line-height: 22px;
}
.home .t3-sl-3 p img {
  margin-bottom: 20px;
}
.home .t3-sl-3,
.home .t3-sl-4 {
  border-top: 1px solid #dddddd;
  text-align: center;
}
.home .t3-sl-3 p,
.home .t3-sl-4 p {
  font-size: 16px;
  line-height: 22px;
}
.home .t3-sl-3 .jumbotron,
.home .t3-sl-4 .jumbotron {
  padding-top: 0;
}
.home .t3-sl-3 .jumbotron h1,
.home .t3-sl-4 .jumbotron h1 {
  margin-bottom: 10px;
  margin-top: 0;
}
.home .t3-sl-3 .jumbotron p,
.home .t3-sl-4 .jumbotron p {
  font-size: 21px;
  line-height: 1.275;
  color: #999999;
}
.home .t3-sl-5 {
  background: #eeeeee;
  border-top: 1px solid #dddddd;
  padding: 0;
}
.home .t3-sl-5 .jumbotron .btn-large {
  font-size: 24.5px;
  padding: 18px 44.5px;
}
.home .t3-sl-5 .section-arrow-alt {
  background: url("/T3/t3mb/templates/t3_blank/images/arrow-section-alt.png") no-repeat center -1px #eeeeee;
  width: 37px;
  height: 19px;
  position: absolute;
  top: -1px;
  right: 50%;
  margin-right: -19px;
}

.home .t3-sl-1 {
  margin-top: -1px;
}
.home .t3-sl-1 .jumbotron {
  background-color: #cc0000;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#ff0000), to(#cc0000));
  background-image: -webkit-radial-gradient(circle, #ff0000, #cc0000);
  background-image: -moz-radial-gradient(circle, #ff0000, #cc0000);
  background-image: -o-radial-gradient(circle, #ff0000, #cc0000);
  background-repeat: no-repeat;
  color: #eeeeee;
}
.home .t3-sl-1 .jumbotron h1 {
  color: #ffffff;
}
.home .t3-sl-1 .jumbotron .btn-large {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #222222;
  

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.home .t3-sl-1 .jumbotron .btn-large:hover,
.home .t3-sl-1 .jumbotron .btn-large:focus,
.home .t3-sl-1 .jumbotron .btn-large:active,
.home .t3-sl-1 .jumbotron .btn-large.active,
.home .t3-sl-1 .jumbotron .btn-large.disabled,
.home .t3-sl-1 .jumbotron .btn-large[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}
.home .t3-sl-1 .jumbotron .btn-large:active,
.home .t3-sl-1 .jumbotron .btn-large.active {
  background-color: #090909 \9;
}
