

.com_config #templates-form .tip {
  background: #f5f5f5;
  padding: 12px 12px;
}
.com_config #templates-form textarea {
  height: auto;
  width: auto;
  min-height: 100px;
  min-width: 50%;
}
.com_config #templates-form .input-append .add-on,
.com_config #templates-form .input-prepend .add-on {
  width: 35px;
}
.com_config #templates-form .input-append input,
.com_config #templates-form .input-prepend input {
  display: inline-block;
}
.com_config #templates-form .input-append .btn,
.com_config #templates-form .input-prepend .btn {
  border: 1px solid #cccccc;
}
.com_config #templates-form .t3-admin-form-legend {
  display: none;
}
.com_config #templates-form .row-fluid .span6 {
  width: 100%;
}
@media (min-width: 768px) {
  .com_config #templates-form .control-group .control-label {
    width: 250px;
  }
  .com_config #templates-form .control-group .controls {
    margin-right: 280px;
  }
}
@media (min-width: 768px) {
  .edit .inputbox,
  .edit input[type="text"],
  .edit select.inputbox,
  .edit select {
    width: 250px;
  }
}
.edit textarea {
  width: 100%;
}
.edit .input-append,
.edit .input-prepend {
  display: block;
  width: auto;
}
@media (min-width: 768px) {
  .edit .input-append input[type="text"],
  .edit .input-prepend input[type="text"],
  .edit .input-append input.inputbox,
  .edit .input-prepend input.inputbox {
    display: inline-block;
    width: 210px;
  }
}
.edit .nav-tabs {
  margin-bottom: 20px;
}
.edit .tab-pane:before,
.edit .tab-pane:after {
  content: " ";
  

  display: table;
  

}
.edit .tab-pane:after {
  clear: both;
}
#editor-xtd-buttons,
.toggle-editor {
  margin-top: 20px;
  margin-bottom: 20px;
}
#editor-xtd-buttons .btn,
.toggle-editor .btn {
  background: #eeeeee;
}
#editor-xtd-buttons {
  margin-left: 30px;
}
#sbox-window {
  padding: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.btn.jmodedit {
  padding: 0;
}
.btn.jmodedit:focus,
.btn.jmodedit:active {
  box-shadow: none;
}
.jfedit-menu + .tooltip {
  min-width: 100px;
}
.window form table {
  border: 1px solid #dddddd;
  background: #f9f9f9;
  margin-bottom: 20px;
}
.window form table td {
  padding: 8px;
}
.window form .help-block {
  font-size: 12px;
  clear: both;
  padding-top: 5px;
}
.window #imageForm {
  margin: 0;
  width: auto;
}
.window #imageForm .chzn-container {
  float: right;
}
.window #imageForm #upbutton {
  border: 1px solid #cccccc;
  float: right;
  padding: 3px 12px;
  margin-right: 5px;
}
.window #imageForm .pull-right {
  margin-left: 30px;
}
.window #uploadForm {
  width: auto;
}
.window #uploadForm #upload-file {
  margin: 10px 0;
}
.window .manager {
  margin: 0;
  padding: 0;
}
.window .manager:before,
.window .manager:after {
  content: " ";
  

  display: table;
  

}
.window .manager:after {
  clear: both;
}
.window .manager .thumbnail {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}
fieldset.radio {
  width: 90px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: 0;
  position: relative;
  border: 1px solid #aaa;
  border-radius: 0;
  

  

  

  

  

}
fieldset.radio input[type=radio] {
  display: none;
}
fieldset.radio label {
  width: 90px;
  height: 30px;
  overflow: hidden;
  display: block;
  border-radius: 0;
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 1;
  text-transform: uppercase;
  background: url(/github/t3mb/plugins/system/t3/base-bs3/less/../imgs/blank.gif) no-repeat transparent;
  text-indent: -999em;
}
fieldset.radio label:before,
fieldset.radio label:after {
  display: block;
  position: absolute;
  top: 0;
  border-radius: 0;
  border: 1px solid #aaa;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}
fieldset.radio label:before {
  content: "ON";
  width: 100%;
  height: 100%;
  text-indent: 0;
  color: white;
  padding: 4px 18px;
  font-weight: normal;
}
fieldset.radio label:after {
  content: "";
  width: 40%;
  height: 100%;
  background: #fff;
}
fieldset.radio label:nth-child(2):before,
fieldset.radio label.off:before {
  content: "OFF";
  text-align: left;
  color: #555;
}
fieldset.radio label.active {
  z-index: 0;
}
fieldset.radio label:nth-child(2):before,
fieldset.radio label.off:before {
  background: #eee;
  right: 100%;
}
fieldset.radio label.active:nth-child(2):before,
fieldset.radio label.off.active:before {
  right: 0%;
}
fieldset.radio label:nth-child(4):before,
fieldset.radio label.on:before {
  background: #690;
  right: -100%;
}
fieldset.radio label.active:nth-child(4):before,
fieldset.radio label.on.active:before {
  right: 0%;
}
fieldset.radio label:nth-child(2):after,
fieldset.radio label.off:after {
  right: 60%;
}
fieldset.radio label.active:nth-child(2):after,
fieldset.radio label.off.active:after {
  right: 0%;
}
fieldset.radio label:nth-child(4):after,
fieldset.radio label.on:after {
  right: 0%;
}
fieldset.radio label.active:nth-child(4):after,
fieldset.radio label.on.active:after {
  right: 60%;
}
.icon-eye-open:before,
.icon-eye:before {
  content: "\f06e";
}
.button2-left,
.button2-left div {
  float: right;
}
.button2-right,
.button2-right div {
  float: left;
}
.button2-left {
  margin: 5px 0 0 5px;
}
.button2-right {
  margin: 5px 5px 0 0;
}
.button2-left a,
.button2-right a,
.button2-left span,
.button2-right span {
  background: #eeeeee;
  border: 1px solid #e2e2e2;
  color: #999999;
  cursor: pointer;
  display: block;
  float: right;
  padding: 2px 10px;
  border-radius: 4px;
}
.button2-left span,
.button2-right span {
  color: #999999;
  cursor: default;
}
.button2-left .page a,
.button2-right .page a,
.button2-left .page span,
.button2-right .page span {
  padding: 0 6px;
}
.button2-left a:hover,
.button2-right a:hover {
  background: #e2e2e2;
  color: #333333;
  text-decoration: none;
}
.edit.item-page .control-group a.modal {
  position: inherit;
  width: auto !important;
  margin-right: 0 !important;
  top: auto !important;
}
.controls img.calendar {
  cursor: pointer;
  margin-right: 5px;
}
