.t3-megamenu .mega-inner {
  padding: 20px;
}
.t3-megamenu .row-fluid + .row-fluid {
  border-top: 1px solid #ddd;
}
.t3-megamenu .mega-nav .mega-group > .mega-group-title,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
  background: inherit;
  color: #222;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.t3-megamenu .mega-nav .mega-group > .mega-group-title:hover,
.t3-megamenu .mega-nav .mega-group > .mega-group-title:active,
.t3-megamenu .mega-nav .mega-group > .mega-group-title:focus,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:hover,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:active,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:focus,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:hover,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:active,
.t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:focus {
  background: inherit;
  color: #222;
}
.t3-megamenu .mega-nav > li a,
.t3-megamenu .dropdown-menu .mega-nav > li a {
  padding: 5px 10px;
}
.t3-megamenu .mega-nav .dropdown-submenu > a::after {
  margin-right: 0;
}
.t3-megamenu .t3-module .module-title {
  font-size: 16px;
  color: #222;
  display: block;
  line-height: 20px;
  margin-bottom: 5px;
}
.t3-megamenu .t3-module ul,
.t3-megamenu .t3-module .nav {
  margin: 0 0 0 15px;
}
.t3-megamenu .t3-module ul li,
.t3-megamenu .t3-module .nav li {
  list-style: disc;
  display: list-item;
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.t3-megamenu .t3-module ul li a,
.t3-megamenu .t3-module .nav li a {
  display: inline;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  background: none;
  font: inherit;
  white-space: normal;
}
.t3-megamenu .t3-module ul li a:hover,
.t3-megamenu .t3-module ul li a:focus,
.t3-megamenu .t3-module ul li a:active,
.t3-megamenu .t3-module .nav li a:hover,
.t3-megamenu .t3-module .nav li a:focus,
.t3-megamenu .t3-module .nav li a:active {
  background: none;
  color: inherit;
  font: inherit;
}
.t3-megamenu .mega-nav .mega-group > span,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > span {
  color: #fff;
}
.t3-megamenu .mega-nav .mega-group > span:hover,
.t3-megamenu .mega-nav .mega-group > span:active,
.t3-megamenu .mega-nav .mega-group > span:focus,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > span:hover,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > span:active,
.t3-megamenu .dropdown-menu .mega-nav .mega-group > span:focus {
  color: #fff;
}
.t3-megamenu .t3-module .module-title {
  color: #fff;
}
