

fieldset.radio {
  width: 90px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  padding: 0;
  position: relative;
  border: 1px solid #aaa;
  border-radius: 0;
  

  

  

  

  

}
fieldset.radio input[type=radio] {
  display: none;
}
fieldset.radio label {
  width: 90px;
  height: 30px;
  overflow: hidden;
  display: block;
  border-radius: 0;
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 1;
  text-transform: uppercase;
  background: url(/github/t3mb/plugins/system/t3/base-bs3/less/../imgs/blank.gif) no-repeat transparent;
  text-indent: -999em;
}
fieldset.radio label:before,
fieldset.radio label:after {
  display: block;
  position: absolute;
  top: 0;
  border-radius: 0;
  border: 1px solid #aaa;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
fieldset.radio label:before {
  content: "ON";
  width: 100%;
  height: 100%;
  text-indent: 0;
  color: white;
  padding: 6px 18px;
  font-weight: normal;
}
fieldset.radio label:after {
  content: "";
  width: 40%;
  height: 100%;
  background: #fff;
}
fieldset.radio label:nth-child(2):before,
fieldset.radio label.off:before {
  content: "OFF";
  text-align: left;
  color: #555;
}
fieldset.radio label.active {
  z-index: 0;
}
fieldset.radio label:nth-child(2):before,
fieldset.radio label.off:before {
  background: #eee;
  right: 100%;
}
fieldset.radio label.active:nth-child(2):before,
fieldset.radio label.off.active:before {
  right: 0%;
}
fieldset.radio label:nth-child(4):before,
fieldset.radio label.on:before {
  background: #690;
  right: -100%;
}
fieldset.radio label.active:nth-child(4):before,
fieldset.radio label.on.active:before {
  right: 0%;
}
fieldset.radio label:nth-child(2):after,
fieldset.radio label.off:after {
  right: 60%;
}
fieldset.radio label.active:nth-child(2):after,
fieldset.radio label.off.active:after {
  right: 0%;
}
fieldset.radio label:nth-child(4):after,
fieldset.radio label.on:after {
  right: 0%;
}
fieldset.radio label.active:nth-child(4):after,
fieldset.radio label.on.active:after {
  right: 60%;
}
