/* -------------------------------------------------*/
/* T3 MEGAMENU ADMIN UI
/* JoomlArt.com
---------------------------------------------------*/

#megamenu-admin {
  min-height: 800px;
  background: url(../images/grid-bg.jpg) top left;
  margin: 0 -20px;
}

.controlbox-fixed {
  position: absolute;
  top: 73px;
  left: 0;
  right: 0;
  padding: 20px !important;
  margin: 0 !important;
}



/* Intro
---------------------*/
#megamenu-intro {
  float: left;
  padding: 20px 200px 20px 20px;
  text-shadow: 0 1px 1px white;
}

#megamenu-intro h3 {
  margin-top: 0;
}

#megamenu-intro p {
  display: block;
  color: #999999;
  max-height: 50px;
  overflow: hidden;
}



/* Toolbox
---------------------*/
#megamenu-toolbox {
  float: left;
  text-shadow: 0 1px 1px #fff;
}

#megamenu-admin .t3-inline-toolbox {
  height: 119px;
}

#megamenu-toolbox .toolbox {
  height: 119px;
  padding: 20px;
  display: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}

#megamenu-toolbox .toolbox h3 {
  margin-top: 0;
}

#megamenu-toolbox .toolbox ul {
  float: left;
  margin-right: 20px;
}

#megamenu-toolbox .toolbox li > label {
  font-size: 11px;
  color: #999999;
}


/* Toolbox Actions ---- */
.t3-row-mega .toolbox-actions-group {
  height: 100px;
  position: absolute;
  right: 20px;
}

.t3-row-mega .toolbox-actions-group button {
}


/* Fullscreen Toggle */
#navigation_params .t3-tog-fullscreen {
  position: absolute;
  right: 0;
  top: -50px;
}



/* The Menu
---------------------*/
#megamenu-container {
  float: left;
  margin-left: 20px;
}


/* Global Menu Inner padding ---*/
.ja-megamenu .mega-inner {
  padding: 10px;
}


/* Menu Grid ---*/
.ja-megamenu .row-fluid + .row-fluid {
  margin-top: 0;
  border-top: 0;
}

.ja-megamenu .row-fluid [class*="span"] {
  border: 1px dotted #cccccc;
  border-radius: 3px;
  transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  background: white;
}


/* The Nav ---*/
.ja-megamenu .nav > li {
  margin-right: 20px;
}

.ja-megamenu .nav > li > a,
.ja-megamenu .nav > li > span
 {
  border: 1px solid #dddddd;
  padding: 8px 20px;
  background: #f2f2f2;
  font-weight: bold;
  border-radius: 3px;
  transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
}

/* The caret */
.ja-megamenu .mega-nav .dropdown-submenu > a::after {
  margin-right: -10px;
}


/* Dropdown ---*/
.ja-megamenu .dropdown-menu::before,
.ja-megamenu .dropdown-menu::after {
  display: none !important; /* Hide the Arrow */
}

.ja-megamenu .dropdown-menu {
  border: 1px solid #dddddd;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
  transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  min-width: 200px;
  background: #f2f2f2;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 99;
  /* Fixed overlap with the Joomla Toolbar */
}

.ja-megamenu .dropdown-menu .dropdown-menu {
  margin-top: 0;
  margin-left: 11px;
}

.ja-megamenu .dropdown-submenu.mega-align-right .dropdown-menu {
  margin-left: 0;
  margin-right: 11px;
}

.ja-megamenu .mega-nav li {
  margin-bottom: 5px;
}

.ja-megamenu .mega-nav li:last-child {
  margin-bottom: 0;
}

.ja-megamenu .mega-nav li a,
.ja-megamenu .mega-nav li span {
  padding: 5px 20px 5px 10px;
  border: 1px dotted #dddddd;
  border-radius: 3px;
  font-size: 12px;
  color: #999999;
  transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
}


/* The group ---*/
.ja-megamenu .mega-nav .mega-group > span,
.ja-megamenu .dropdown-menu .mega-nav .mega-group > span {
  padding: 5px 20px 5px 10px;
  cursor: pointer;
}

.ja-megamenu .mega-group-ct {
  border: 1px solid #dddddd;
  padding: 10px;
  margin: 10px 0 10px 0;
  transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  border-radius: 3px;
  background: #f2f2f2;
}

.ja-megamenu .mega-group-ct > .row-fluid > [class*="span"] > .mega-inner {
  padding: 10px;
}


/* Module in Menu ---*/
.ja-megamenu .ja-module {
  pointer-events: none;
  cursor: default;
  position: relative;
  margin: 0;
  transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
}

.ja-megamenu .ja-module:after {
  display: block;
  position: absolute;
  background: #eeeeee;
  right: -10px;
  bottom: -10px;
  content: "Module";
  width: 70px;
  padding: 2px 0;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  color: #999999;
  border-radius: 3px 0 0 0;
  border: 1px dotted #dddddd;
  border-width: 1px 0 0 1px;
}

.ja-megamenu .ja-module .module-inner {
  opacity: .3;
  font-size: 12px;
}

.ja-megamenu .ja-module .module-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
}

.ja-megamenu .ja-module .module-ct {
  overflow: hidden;
  zoom: 1;
}

.ja-megamenu [class*="span"].hover .ja-module:after,
.ja-megamenu [class*="span"].selected .ja-module:after {
  border-style: solid;
  border-color: #666666;
  background: #ffbb00;
  color: #fff;
}

/* Fix Form display problem in Modules */
.ja-megamenu .ja-module .control-group {
  margin-bottom: 5px;
}

.ja-megamenu .ja-module .controls {
  margin-left: 3px;
}


/* Open Item ---*/
.ja-megamenu .nav > li.open > a,
.ja-megamenu .open > a {
  background: #333333 !important;
  color: #fff !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) !important;
}


/* Hover Item ---*/
.ja-megamenu .nav-child.hover,
.ja-megamenu ul[class*="level"] > li > a.hover,
.ja-megamenu ul[class*="level"] > li > span.hover,
.ja-megamenu .row-fluid [class*="span"].hover {
  background: #fffbf0 !important;
  color: #333333 !important;
  border: 1px solid #666666 !important;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.ja-megamenu ul[class*="level"] > li > a:hover,
.ja-megamenu ul[class*="level"] > li > a:focus,
.ja-megamenu ul[class*="level"] > li > a:active {
  background: #fffbf0 !important;
  color: #333333 !important;
  text-shadow: 0 1px 1px #fff !important;
}

/* The caret */
.ja-megamenu .mega-nav li a.hover:after,
.ja-megamenu .mega-nav li a.selected:after {
  border-left-color: #333333;
}


/* Selected Item ---*/
.ja-megamenu .selected {
  background: #fffbf0 !important;
  color: #333333 !important;
  border: 1px solid #666666 !important;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  text-shadow: 0 1px 1px white !important;
}



/* Fix for Joomla! Default Admin Template
--------------------------------------------------*/
#megamenu-admin .dropdown-menu a {
  white-space: normal;
}
#megamenu-admin .row-fluid [class*="span"] {
  margin-left: 2.12766%;
}
#megamenu-admin .row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

/* Fix right spacing for chzn chosen in Megamenu Admin UI */
#megamenu-admin ul.chzn-results {
  margin-right: 4px;
  float: none;
}

/* Fix submenu auto open on hover */
#megamenu-admin .dropdown-submenu:hover .dropdown-menu {
  display: none;
}

#megamenu-admin .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
